<% @title = "SRS Portal | Edit Profile" %>
<div class="defaultDiv" id="editProfileDiv">
  <p class="defaultDivHeader">Edit Profile</p>
  <div class="container defaultForm">
    <% if current_user == @user %>
      <%= bootstrap_form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
        <table class="table table-bordered" id="editProfileTable">
          <thead></thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= f.text_field :name, hide_label: true %></td>
            </tr>
            <tr>
              <td>Company</td>
              <td><%= f.text_field :company, hide_label: true %></td>
            </tr>
            <tr>
              <td>Position</td>
              <td><%= f.text_field :position, hide_label: true %></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><%= f.text_field :address, hide_label: true %></td>
            </tr>
            <tr>
              <td>City</td>
              <td><%= f.text_field :city, hide_label: true %></td>
            </tr>
            <tr>
              <td>State</td>
              <td><%= f.select :state, options_for_select(us_states), hide_label: true %></td>
            </tr>
            <tr>
              <td>Zipcode</td>
              <td><%= f.number_field :zipcode, hide_label: true %></td>
            </tr>
            <tr>
              <td>Phone 1</td>
              <td class="phone_css">
                <%= f.text_field :phone1, hide_label: true %>
                <%= f.select :phone1_type, ['','Home','Work','Cell','Fax'], prepend: "Type", hide_label: true %>
              </td>
            </tr>
            <tr>
              <td>Phone 2</td>
              <td class="phone_css">
                <%= f.text_field :phone2, hide_label: true %>
                <%= f.select :phone2_type, ['','Home','Work','Cell','Fax'], prepend: "Type", hide_label: true %>
              </td>
            </tr>
            <tr>
              <td>Secondary Email</td>
              <td><%= f.text_field :email, hide_label: true %></td>
            </tr>
            <tr>
              <td>Notes</td>
              <td><%= f.text_area :notes, hide_label: true, wrapper: {class: 'textarea-vertical'} %></td>
            </tr>
            <tr>
          </tbody>
        </table>
        <%= hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Edit Profile", :style => "float:right;" %>
      <% end %>
    <% else %>
      <div class="form-group form-group-sm">You cannot edit this users profile</div>
    <% end %>
  </div>
</div>
