<div class="show-part-top">
  <p class="show-part-brand-name"><%= @part.product.brand_name %></p>
  <p class="show-part-description"><%= @part.description %></p>
</div>
<div id="show-part-wrapper">
  <div class="show-image">
    <% if @part.image.present? %>
      <%= link_to (image_tag (@part.image.url (:medium))), @part.image.url, target: "_blank", title: "View Full Size Image" %>
    <% else %>
      <p style="margin: 10px;">No Image Available</p>
    <% end %>
  </div>
  <table class="table table-bordered" id="showPartNotes">
    <thead></thead>
    <tbody>
      <tr>
        <td class="show-part-details">Notes</td>
      </tr>
      <tr>
        <td>
          <%= best_in_place @part, :notes, :as => :textarea, inner_class: "form-control input-resize", place_holder: "No notes present, click here to edit" %>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered" id="showPartExtras">
    <thead></thead>
    <tbody>
      <tr>
        <td class="show-part-details" colspan="2">Additional Attributes</td>
      </tr>
      <% if @part.details.present? %>
        <% @part.details.try(:each) do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan="2" style="text-align:center;">No Attributes Present</td></tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-bordered" id="showProductExtras"> <!-- Show Product Uploads -->
    <thead></thead>
    <tbody>
      <tr>
        <td class="show-product-details" colspan="2">Associated Files</td>
      </tr>
      <% if @part.uploads.present? %>
        <% @part.uploads.each do |f| %>
          <tr>
            <td><%= link_to f.file_file_name, f.file.url(:original, false), target: "_blank", title: "File Size: #{number_to_human_size(f.file_file_size, precision: 2)}" %></td>
            <td>
              <% if f.description.present? %>
                <%= f.description %>
              <% else %>
                No Description
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
          <tr><td style="text-align:center;border-right:2px solid orange;">No Files Found</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
<table class="table table-bordered" id="showPartTable">
  <thead></thead>
  <tbody>
    <% if admin_or_employee? %>
      <tr>
        <td colspan="2"><%= link_to "Edit This Part", edit_part_path(id: params[:id]), method: :get, class: 'btn btn-sm' %></td>
      </tr>
    <% end %>
    <tr class=<%= "firstRowFix" if !current_user.admin? or !current_user.has_role? :employee %>>
      <td>Belongs To</td>
      <td><%= link_to @part.product.model_select, product_path(id: @part.product), method: :get %></td>
    </tr>
    <tr>
      <td>Manufacturer</td>
      <td>
        <% if @part.product.vendor_name.present? %>
          <%= @part.product.vendor_name %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>MFR Part #</td>
      <td>
        <% if @part.manufacturer_model_number.present? %>
          <%= @part.manufacturer_model_number %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>UPC #</td>
      <td>
        <% if @part.upc.present? %>
          <%= @part.upc %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Brand Name</td>
      <td>
        <% if @part.product.brand_name.present? %>
          <%= @part.product.brand_name %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>SRS SKU</td>
      <td>
        <% if @part.srs_sku.present? %>
          <%= @part.srs_sku %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        <% if @part.location.present? %>
          <%= @part.location %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <% if @part.description.present? %>
          <%= @part.description %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Qty On Hand</td>
      <td><%= @part.quantity_on_hand %></td>
    </tr>    
    <tr>
      <td>Qty Last Modified</td>
      <td><%= @part.qty_last_updated %></td>
    </tr>
    <tr>
      <td>Weight</td>
      <td><%= @part.part_weight %></td>
    </tr>
    <tr>
      <td>Part Dimensions</td>
      <td>
        <%= @part.product_dims_l %>"x<%= @part.product_dims_w %>"x<%= @part.product_dims_h %>"
      </td>
    </tr>
    <tr>
      <td>Packaged Dimensions</td>
      <td>
        <%= @part.packaged_dims_l %>"x<%= @part.packaged_dims_w %>"x<%= @part.packaged_dims_h.to_f %>"
      </td>
    </tr>
    <tr>
      <td>Vendor Cost</td>
      <td>
        <% if @part.vendor_cost >= 0.01 %>
          $<%= @part.vendor_cost %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Retail Cost</td>
      <td>
        <% if @part.retail_cost >= 0.01 %>
          $<%= @part.retail_cost %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Shipping Cost</td>
      <td>
        <% if @part.shipping_cost >= 0.01 %>
          $<%= @part.shipping_cost %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Store Orderable?</td>
      <td>
        <% if @part.store_orderable? %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Warranty Orderable?</td>
      <td>
        <% if @part.warranty_orderable? %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>E-Commerce SKU?</td>
      <td>
        <% if @part.ecomm_sku? %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Active?</td>
      <td>
        <% if @part.active? %>
          Yes
        <% else %>
          No
        <% end %>
        </td>
    </tr>
    <tr>
      <td>Part Creation Date</td>
      <td><%= @part.created_at.strftime('%B %d, %Y') %></td>
    </tr>
    <tr>
      <td>Part Last Modified</td>
      <td><%= @part.updated_at.strftime('%B %d, %Y') %></td>
    </tr>
  </tbody>
</table>