<div class="show-part-top">
  <p class="show-part-brand-name"><%= @part.product.brand_name %></p>
  <p class="show-part-description"><%= @part.description %></p>
</div>
<div id="show-part-wrapper">
  <div class="show-image">
    <% if @part.image.present? %>
      <%= image_tag @part.image.url(:medium) %>
    <% else %>
      <p style="margin: 10px;">No Image Available</p>
    <% end %>
  </div>
  <table class="table table-bordered" id="showPartNotes">
    <thead></thead>
    <tbody>
      <tr>
        <td class="show-part-details">Notes</td>
      </tr>
      <tr>
        <td>
          <%= best_in_place @part, :notes, :as => :textarea, inner_class: "input-small" %>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered" id="showPartExtras">
    <thead></thead>
    <tbody>
      <tr>
        <td class="show-part-details">Additional Details</td>
      </tr>
      <tr>
        <td>
      <p style="margin: 10px;">Additional Product Details will be found here</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<table class="table table-bordered" id="showPartTable">
  <thead></thead>
  <tbody>
    <tr>
      <td colspan="2" class="show-part-details">Product Details</td>
    </tr>
    <tr>
      <td>Manufacturer</td>
      <td>
        <% if @part.product.vendor_name.present? %>
          <%= @part.product.vendor_name %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>MFR Part #</td>
      <td>
        <% if @part.manufacturer_model_number.present? %>
          <%= @part.manufacturer_model_number %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>UPC #</td>
      <td>
        <% if @part.upc.present? %>
          <%= @part.upc %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Brand Name</td>
      <td>
        <% if @part.product.brand_name.present? %>
          <%= @part.product.brand_name %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>SRS SKU</td>
      <td>
        <% if @part.srs_sku.present? %>
          <%= @part.srs_sku %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        <% if @part.location.present? %>
          <%= @part.location %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <% if @part.description.present? %>
          <%= @part.description %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Qty On Hand</td>
      <td>
        <%= @part.count_on_hand %>
        <%# if @part.stockmovements.exists? %>
          <%# @part.stockmovements.last(1).each do |s| %>
            <%#= s.quantity %>
          <%# end %>
        <%# end %>
      </td>
    </tr>    
    <!--<tr>-->
    <!--  <td>Qty Last Updated</td>-->
    <!--  <td>-->
    <!--    <%# if @part.stockmovements.exists? %>-->
    <!--      <%# @part.stockmovements.last(1).each do |s| %>-->
    <!--        <%#= s.created_at.strftime('%B %d, %Y') %>-->
    <!--      <%# end %>-->
    <!--    <%# else %>-->
    <!--      N/A-->
    <!--    <%# end %>-->
    <!--  </td>-->
    <!--</tr>-->
    <!-- Add "view history" link to stockmovement history for individual item once complete -->
    <tr>
      <td>Weight</td>
      <td>
        <%= @part.weight_pounds %> lbs. <%= @part.weight_ounces %> oz.
      </td>
    </tr>
    <tr>
      <td>Part Dimensions</td>
      <td>
        <%= @part.product_dims_l %>"x<%= @part.product_dims_w %>"x<%= @part.product_dims_h %>"
      </td>
    </tr>
    <tr>
      <td>Packaged Dimensions</td>
      <td>
        <%= @part.packaged_dims_l %>"x<%= @part.packaged_dims_w %>"x<%= @part.packaged_dims_h.to_f %>"
      </td>
    </tr>
    <tr>
      <td>Vendor Cost</td>
      <td>
        <% if @part.vendor_cost >= 0.01 %>
          $<%= @part.vendor_cost %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Retail Cost</td>
      <td>
        <% if @part.retail_cost >= 0.01 %>
          $<%= @part.retail_cost %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Shipping Cost</td>
      <td>
        <% if @part.shipping_cost >= 0.01 %>
          $<%= @part.shipping_cost %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Store Orderable?</td>
      <td>
        <% if @part.store_orderable? %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Warranty Orderable?</td>
      <td>
        <% if @part.warranty_orderable? %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>E-Commerce SKU?</td>
      <td>
        <% if @part.ecomm_sku? %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Active?</td>
      <td>
        <% if @part.active? %>
          Yes
        <% else %>
          No
        <% end %>
        </td>
    </tr>
    <tr>
      <td>Part Creation Date</td>
      <td><%= @part.created_at.strftime('%B %d, %Y') %></td>
    </tr>
    <tr>
      <td>Part Last Updated</td>
      <td><%= @part.updated_at.strftime('%B %d, %Y') %></td>
    </tr>
    <tr>
      <td colspan="2" class="show-part-edit-button"><%= button_to "Edit This Part", edit_part_path(id: params[:id]), method: :get, class: 'btn btn-sm btn-primary' %></td>
    </tr>
  </tbody>
</table>