<% @title = "SRS Portal | Edit Part" %>
<div class="defaultDiv" id="editPartDiv">
  <p class="defaultDivHeader">
    <span class="show-product-brand-name"><%= @part.product.brand_name %> - <%= @part.description %></span></br>
    <span class="show-product-description" style="font-size:0.8em">Entry Created: <%= @part.created_at.strftime('%B %d, %Y') %> | Last Modified: <%= @part.updated_at.strftime('%B %d, %Y') %></span>
  </p>
  <div class="container defaultForm">
    <%= bootstrap_form_for @part, url: part_path, method: :patch, :html => { :multipart => true } do |f| %>
      <% if @part.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>
          <ul>
          <% @part.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <ul class="nav nav-tabs">
        <li class="active"><a id="editPartNavTab" href="#edit-part-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> Edit Part Details</a></li>
        <li><a id="editPartAdditions" href="#edit-part-additions" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> Edit Custom Attributes</a></li>
      </ul>
      <div class="defaultTabs">
        <div class="tab-content">
          <div id="edit-part-form" class="tab-pane fade in active container">
            <br/><%= render "form", :f => f %>
          </div>
          <div id="edit-part-additions" class="tab-pane fade container">
            <br/><%= render "additions", :f => f %>
          </div>
        </div>
      </div>
      <%= f.submit "Update Part", :style => "float:right;" %>
    <% end %>
    <%= button_to "Delete", part_path(:id => params[:id]), :method => :delete, class: 'hidden partDelete' %>
    <button class="btn btn-sm btn-danger delete-button deletePart bootbox-confirm">Delete This Part</button>
  </div>
</div>