<% @title = "SRS Portal | Edit Part" %>
<div class="defaultDiv" id="editPartDiv">
  <p class="defaultDivHeader">Edit Part Information</p>
  <div class="container defaultForm">
    <%= bootstrap_form_for @part, url: part_path, method: :patch, :html => { :multipart => true } do |f| %>
      <% if @part.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>
          <ul>
          <% @part.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <ul class="nav nav-tabs">
        <li class="active"><a id="editPartNavTab" href="#edit-part-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> Edit Part Details</a></li>
      </ul>
      <div class="defaultTabs">
        <div class="tab-content">
          <div id="edit-part-form" class="tab-pane fade in active container">
            <br/><%= render "form", :f => f %>
          </div>
        </div>
      </div>
      <%= f.submit "Update Part", :style => "float:right;" %>
    <% end %>
    <%= button_to "Delete This Part", part_path(:id => params[:id]), :method => :delete, data: {:confirm => 'Are you sure you want to delete this product?'}, class: 'btn btn-sm btn-danger delete-button' %>
  </div>
</div>