<% @title = "SRS Portal | Part List" %>
<div class="defaultDiv" id="partListDiv">
  <p class="defaultDivHeader">Part List</p>
  <div class="partsTable">
    <table id="partsDataTable" class="display" style="width:100%;">
      <thead>
        <tr>
          <th><p style="display:none;">Details</p></th> <!-- hacky way to get the word "Details" to show up in the Colvis buttons dropdown -->
          <th>Image</th>
          <th>Brand Name</th>
          <th>Belongs To</th>
          <th>MFR Part #</th>
          <th>SRS SKU</th>
          <th>Description</th>
          <th>Qty On Hand</th>
          <th>Qty Last Modified</th>
          <th>Max Quantity</th>
          <th>Request Quantity</th>
          <th>Weight</th>
          <th>Dimensions</th>
          <th>Pricing</th>
          <th>Additional Notes</th>
          <th></th>
        </tr>
      </thead>
      <div class="partTableChildren" data-child-filter="<% @products.each do |pr| %><option name='<%= pr.manufacturer_model_number %>' value='<%= pr.id %>'><%= pr.product_select_with_model %></option><% end %>"></div>
      <tbody class="part-table">
        <% @parts.each do |part| %>
          <tr
            data-child-attributes=" <table class='customPartAttributesTable'>
                                      <thead>
                                        <tr>
                                          <th>Attribute</th>
                                          <th>Description</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% if part.details.present? %>
                                          <% part.details.try(:each) do |key, value| %>
                                            <tr>
                                                <td><%= key %></td>
                                                <td><%= value %></td>
                                            </tr>
                                          <% end %>
                                        <% else %>
                                          <td colspan='2'>No Attributes Found</td>
                                        <% end %>
                                      </tbody>
                                    </table>"
            data-child-manufacturer="<% if part.product.vendor_name.present? %>
                                       <%= part.product.vendor_name %>
                                     <% else %>
                                       N/A
                                     <% end %>"
                data-child-location="<% if part.location.present? %>
                                       <%= part.location %>
                                     <% else %>
                                       N/A
                                     <% end %>"
                     data-child-upc="<% if part.upc.present? %>
                                       <%= part.upc %>
                                     <% else %>
                                       N/A
                                     <% end %>"
                  data-child-orders="Recent Orders Here"
                   data-child-notes="<% if part.active? %>
                                       <p><i class='fa fa-check-square-o' style='color:green'></i> Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <% else %>
                                       <p><i class='fa fa-close' style='color:red'></i> Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <% end %>
                                     <% if part.store_orderable? %>
                                       <i class='fa fa-check-square-o' style='color:green'></i> Store Orderable</p>
                                     <% else %>
                                       <i class='fa fa-close' style='color:red'></i> Store Orderable</p>
                                     <% end %>
                                     <% if part.ecomm_sku? %>
                                       <p><i class='fa fa-check-square-o' style='color:green'></i> E-Commerce SKU&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <% else %>
                                       <p><i class='fa fa-close' style='color:red'></i> E-Commerce SKU&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <% end %>
                                     <% if part.warranty_orderable? %>
                                       <i class='fa fa-check-square-o' style='color:green'></i> Warranty Orderable</p>
                                     <% else %>
                                       <i class='fa fa-close' style='color:red'></i> Warranty Orderable</p>
                                     <% end %>"
                   data-child-dates="<p>Added on <%= part.created_at.strftime('%B %d, %Y') %></p>
                                     <p>Last Modified on <%= part.updated_at.strftime('%B %d, %Y') %></p>">
            <td class="details-control"><div class="hidden partProductId" name="<%= part.product_id %>"><%= part.product_id %></div></td>
            <td>
              <% if part.image.present? %>
                <%= link_to (image_tag (part.image.url (:thumb))), part.image.url, target: "_blank", title: "View Full Size Image" %>
              <% else %>
                No Image Available
              <% end %>
            </td>
            <td>
              <% if part.product.brand_name.present? %>
                <%= part.product.brand_name %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td><%= link_to part.product.model_select, product_path(id: part.product.id), method: :get %></td>
            <td>
              <% if part.manufacturer_model_number.present? %>
                <%= link_to part.manufacturer_model_number, part_path(id: part.id), method: :get, title: "View Part Details" %>
              <% else %>
                <%= link_to "N/A", part_path(id: part.id), method: :get, title: "View Part Details" %>
              <% end %>
            </td>
            <td>
              <% if part.srs_sku.present? %>
                <%= part.srs_sku %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td>
              <% if part.description.present? %>
                <%= part.description %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td class="quantities"><%= part.quantity_on_hand %></td>
            <td><%= part.qty_last_updated %></td>
            <td><%= part.max_quantity %></td>
            <td><%= part.request_quantity %></td>
            <td><%= part.part_weight %></td>
            <td>
              <p>Product: <%= part.product_dims_l %>"x<%= part.product_dims_w %>"x<%= part.product_dims_h %>"</p>
              <p>Packaged: <%= part.packaged_dims_l %>"x<%= part.packaged_dims_w %>"x<%= part.packaged_dims_h %>"</p>
            </td>
            <td>
              <% if part.vendor_cost >= 0.01 %>
                <p>Vendor Cost: $<%= number_with_precision(part.vendor_cost, precision: 2) %></p>
              <% else %>
                <p>Vendor Cost: N/A</p>
              <% end %>
              <% if part.retail_cost >= 0.01 %>
                <p>Retail Cost: $<%= number_with_precision(part.retail_cost, precision: 2) %></p>
              <% else %>
                <p>Retail Cost: N/A</p>
              <% end %>
              <% if part.shipping_cost >= 0.01 %>
                <p>Shipping Cost: $<%= number_with_precision(part.shipping_cost, precision: 2) %></p>
              <% else %>
                <p>Shipping Cost: N/A</p>
              <% end %>
            </td>
            <td>
              <% if part.notes.present? %>
                <p><%= simple_format part.notes %></p>
                <p><%= link_to "Edit This Part", edit_part_path(id: part.id), method: :get, class: 'btn btn-sm' %></p>
              <% else %>
                <p>N/A</p>
                <p><%= link_to "Edit This Part", edit_part_path(id: part.id), method: :get, class: 'btn btn-sm' %></p>
              <% end %>
            </td>
            <td class="noVis">  <!-- Hidden field to add table search ability to Expando -->
              <% if part.product.vendor_name.present? %><%= part.product.vendor_name %><% end %> | 
              <% if part.location.present? %><%= part.location %><% end %> | 
              <% if part.upc.present? %><%= part.upc %><% end %> | 
              <% if part.active? %>Active | <% else %>Not Active<% end %> | 
              <% if part.store_orderable? %>Store Orderable | <% else %>Not Store Orderable<% end %> | 
              <% if part.ecomm_sku? %>E-Commerce SKU | <% else %>Not E-Commerce SKU<% end %> | 
              <% if part.warranty_orderable? %>Warranty Orderable | <% else %>Not Warranty Orderable<% end %>
              <% if part.details.present? %><% part.details.try(:each) do |key, value| %><%= key %> : <%= value %> | <% end %><% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>