<% @title = "SRS Portal | Part List" %>
<div class="defaultDiv" id="partListDiv">
  <p class="defaultDivHeader">Parts List</p>
  <div class="partsTable">
    <table id="partsDataTable" class="display" style="width:100%;">
      <thead>
        <tr>
          <th><p style="display:none;">Details</p></th> <!-- hacky way to get the word "Details" to show up in the Colvis buttons dropdown -->
          <th>Image</th>
          <th>Brand Name</th>
          <th>Belongs To</th>
          <th>MFR Part #</th>
          <th>SRS SKU</th>
          <th>Description</th>
          <th>Qty On Hand</th>
          <th>Qty Last Modified</th>
          <th>Max Quantity</th>
          <th>Request Quantity</th>
          <th>Weight</th>
          <th>Dimensions</th>
          <th>Pricing</th>
          <th>Additional Notes</th>
          <th></th>
          <% if current_user.admin? %>
            <th>Active?</th>
            <th>Store Orderable?</th>
            <th>Warranty Orderable?</th>
            <th>E-Commerce SKU?</th>
            <th>In Stock?</th>
          <% end %>
        </tr>
      </thead>
      <div class="partTableChildren" 
        data-child-filter="<% @parts.each do |part| %>
                             <% part.products.each do |product| %>
                               <option name='<%= product.manufacturer_model_number %>' value='<%= product.id %>'><%= product.product_select_with_model %></option>
                             <% end %>
                           <% end %>"
        data-child-columns="<% if current_user.admin? %>[9,10,15,16,17,18,19,20]<% else %>[9,10,15]<% end %>"> <!-- Used in the dataTable "columnDefs" for visible targets -->
      </div>
      <tbody class="part-table">
        <% @parts.each do |part| %>
          <tr
            data-child-attributes=" <table class='customPartAttributesTable'>
                                      <thead>
                                        <tr>
                                          <th>Attribute</th>
                                          <th>Description</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% if part.details.present? %>
                                          <% part.details.try(:each) do |key, value| %>
                                            <tr>
                                                <td><%= key %></td>
                                                <td><%= value %></td>
                                            </tr>
                                          <% end %>
                                        <% else %>
                                          <td colspan='2'>No Attributes Found</td>
                                        <% end %>
                                      </tbody>
                                    </table>"
            data-child-manufacturer="<%= part.product_vendor_name if part.product_vendor_name.present? %><%= "N/A" if part.product_vendor_name.blank? %>"
                data-child-location="<%= part.location if part.location.present? %><%= "N/A" if part.location.blank? %>"
                     data-child-upc="<%= part.upc if part.upc.present? %><%= "N/A" if part.upc.blank? %>"
                data-child-uploads="<table class='table childPartsTable'>
                                      <thead>
                                        <tr>
                                          <th>File Name</th>
                                          <th>Description</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% if part.uploads.present? %>
                                          <% part.uploads.each do |upload| %>
                                            <tr>
                                              <td><a target='_blank' title='File Size: <%= number_to_human_size(upload.file_file_size, precision: 2) %>' href='<%= upload.file.url(:original, false) %>'><%= upload.file_file_name %></a>
                                              <% if upload.description.present? %>
                                                <td><%= upload.description %></td>
                                              <% else %>
                                                <td>N/A</td>
                                              <% end %>
                                            </tr>
                                          <% end %>
                                        <% else %>
                                          <td colspan='2'>No Files Found</td>
                                        <% end %>
                                      </tbody>
                                    </table>"
                  data-child-orders="Recent Orders Here"
                   data-child-notes="<p><i class='<%= "fa fa-check-square-o fa-green" if part.active? %><%= "fa fa-close fa-red" if !part.active? %>'></i> Active</p>
                                     <p><i class='<%= "fa fa-check-square-o fa-green" if part.store_orderable? %><%= "fa fa-close fa-red" if !part.store_orderable? %>'></i> Store Orderable</p>
                                     <p><i class='<%= "fa fa-check-square-o fa-green" if part.ecomm_sku? %><%= "fa fa-close fa-red" if !part.ecomm_sku? %>'></i> E-Commerce SKU</p>
                                     <p><i class='<%= "fa fa-check-square-o fa-green" if part.warranty_orderable? %><%= "fa fa-close fa-red" if !part.warranty_orderable? %>'></i> Warranty Orderable</p>
                                     <p>Added on <%= part.created_at.strftime('%B %d, %Y') %></p>
                                     <p>Last Modified on <%= part.updated_at.strftime('%B %d, %Y') %></p>">
            <td class="details-control"></td>
            <td>
              <%= link_to (image_tag (part.image.url (:thumb))), part.image.url, target: "_blank", title: "View Full Size Image" if part.image.exists? %>
              <%= "No Image Available" if !part.image.exists? %>
            </td>
            <td><%= part.product_brand_name if part.product_brand_name.present? %><%= "N/A" if part.product_brand_name.blank? %></td>
            <td class="parts_products">
              <% if part.products.present? %>
                <table class="table" style="<% if part.products.length < 3 %>height:150px;<% else %><% end %>">
                  <thead></thead>
                  <tbody>
                    <% part.products.each do |product| %>
                      <tr>
                        <td style="border-right:1px solid #ddd !important;width:40%;"><%= link_to product.manufacturer_model_number, product_path(product), method: :get, title: "View Product Details (ID: #{product.id})" %></td>
                        <td><%= product.description if product.description.present? %><%= "N/A" if product.description.blank? %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <p>No Associated Products</p>
              <% end %>
            </td>
            <td>
              <%= link_to part.manufacturer_model_number, part_path(id: part), method: :get, title: "View Part Details (ID: #{part.id})" if part.manufacturer_model_number.present? %>
              <%= link_to "N/A", part_path(id: part), method: :get, title: "View Part Details (ID: #{part.id})" if part.manufacturer_model_number.blank? %>
            </td>
            <td><%= part.srs_sku if part.srs_sku.present? %><%= "N/A" if part.srs_sku.blank? %></td>
            <td><%= part.description if part.description.present? %><%= "N/A" if part.description.blank? %></td>
            <td class="quantities"><%= part.quantity_on_hand %></td>
            <td><%= part.qty_last_updated %></td>
            <td><%= part.max_quantity %></td>
            <td><%= part.request_quantity %></td>
            <td><%= part.part_weight %></td>
            <td>
              <p>Product: <%= part.product_dims_l %>"x<%= part.product_dims_w %>"x<%= part.product_dims_h %>"</p>
              <p>Packaged: <%= part.packaged_dims_l %>"x<%= part.packaged_dims_w %>"x<%= part.packaged_dims_h %>"</p>
            </td>
            <td>
              <p>Vendor Cost: <%= "$" + number_with_precision(part.vendor_cost, precision: 2) if part.vendor_cost >= 0.01 %>
              <%= "N/A" if part.vendor_cost < 0.01 %></p>
              <p>Retail Cost: <%= "$" + number_with_precision(part.retail_cost, precision: 2) if part.retail_cost >= 0.01 %>
              <%= "N/A" if part.retail_cost < 0.01 %></p>
              <p>Shipping Cost: <%= "$" + number_with_precision(part.shipping_cost, precision: 2) if part.shipping_cost >= 0.01 %>
              <%= "N/A" if part.shipping_cost < 0.01 %></p>
            </td>
            <td>
              <p><%= simple_format part.notes if part.notes.present? %><%= "N/A" if part.notes.blank? %></p>
              <%= link_to "Edit This Part", edit_part_path(id: part), method: :get, class: 'btn btn-sm' if admin_or_employee? %></p>
            </td>
            <td class="noVis">  <!-- Hidden field to add table search ability to Expando -->
                <%= part.product_vendor_name %> | <%= part.location %> | <%= part.upc %> | 
              <% if part.details.present? %><% part.details.try(:each) do |key, value| %><%= key %> : <%= value %> | <% end %><% end %>
              <% if part.uploads.present? %><% part.uploads.each do |upload| %><%= upload.file_file_name %> | <%= upload.description %> | <% end %><% end %>
            </td>
            <% if current_user.admin? %>
              <td><%= part.active %></td>
              <td><%= part.store_orderable %></td>
              <td><%= part.warranty_orderable %></td>
              <td><%= part.ecomm_sku %></td>
              <td><%= "true" if part.quantity_on_hand > 0 %><%= "false" if part.quantity_on_hand < 1%></td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>