<% @title = "SRS Portal | Create New Part" %>
<div class="defaultDiv" id="newPartDiv">
  <p class="defaultDivHeader">Create New Part</p>
  <div class="container defaultForm">
    <%= bootstrap_form_for @part, url: parts_path, method: :post, :html => { :multipart => true } do |f| %>
      <% if @part.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@part.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
          <% @part.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <ul class="nav nav-tabs">
        <li class="active"><a id="newPartNavTab" href="#new-part-form" class="tab-background" data-toggle="tab"><i class="fa fa-plus-square"></i> Part Details</a></li>
        <li><a id="newPartAdditions" href="#new-part-additions" class="tab-background" data-toggle="tab"><i class="fa fa-asterisk"></i> Additional Attributes</a></li>
        <li><a id="newPartUploads" href="#new-part-uploads" class="tab-background" data-toggle="tab"><i class="fa fa-file"></i> Associated Files</a></li>
      </ul>
      <div class="defaultTabs">
        <div class="tab-content">
          <div id="new-part-form" class="tab-pane fade in active container">
            <br/><%= render "form", :f => f %>
          </div>
          <div id="new-part-additions" class="tab-pane fade container">
            <br/><%= render "additions", :f => f %>
          </div>
          <div id="new-part-uploads" class="tab-pane fade"><br/>
            <a class="add_file_button btn"><i class="fa fa-file"></i> Add File</a>
            <div class="productFilesTopBorder hidden"></div>
            <p class="hidden"><%= add_child_link " Add File", :uploads %></p>
            <div class="productFilesBottomBorder hidden"></div>
            <%= new_child_fields_template f, :uploads %>
          </div>
        </div>
      </div>
      <button id="partFirstSubmit" class="btn" style="float:right;">Create Part</button>
      <%= f.submit "Create Part", :id => "partSubmit", :style => "display:none;" %>
    <% end %>
  </div>
</div>

<div id="jstemplates">
  <%= yield :jstemplates %>
</div>