<% @title = "SRS Portal | Part #{@part.manufacturer_model_number}" %>
<div class="defaultDiv" id="showPartDiv">
  <p class="defaultDivHeader">
    <span class="show-product-brand-name" title="Part ID: <%= @part.id %>"><%= @part.product_brand_name %></span></br>
    <span class="show-product-description"><%= @part.manufacturer_model_number %> | <%= @part.description %></span>
  </p>  <div class="container defaultForm">
    <ul class="nav nav-tabs">
      <li class="active"><a id="showPartForm" href="#show-part-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> Part Information</a></li>
      <li><a id="showPartMovementHistory" href="#show-part-movement-history" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Inventory History</a></li>
      <!--<li><a id="showPartRecentOrders" href="#show-part-recent-orders" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Recent Orders</a></li>-->
    </ul>
    
    <div class="defaultTabs">
      <div class="tab-content">
        <div id="show-part-form" class="tab-pane fade in active container">
          <%= render "show_part_form" %>
        </div>
        <div id="show-part-movement-history" class="tab-pane fade container">
          <%= render "show_movement_history" %>
        </div>
        <!--<div id="show-part-recent-orders" class="tab-pane fade container">-->
        <!--  <%#= render "show_recent_orders" %>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>