<% @title = "SRS Portal | Edit Task" %>
<div class="defaultDiv" id="editTaskDiv">
  <p class="defaultDivHeader">Update <%= @task.name %></p>
  <div class="container defaultForm">
    <%= bootstrap_form_for @task, url: task_path, method: :patch, :html => { :multipart => true } do |f| %>
      <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
          <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% @product_select = select_tag "", options_for_select(@products.map {|product| [product.model_select, product.id, {'data-quantity' => product.quantity_on_hand}]}), :include_blank => "", :class => 'lineItemEditProductBox' %>
      <% @part_select = select_tag "", options_for_select(@parts.map {|part| [part.part_select, part.id, {'data-quantity' => part.quantity_on_hand}]}), :include_blank => "", :class => 'lineItemEditPartBox' %>
      <% @combo_item_select = select_tag "", options_for_select(@combo_items.map {|ci| [ci.combo_select, ci.id, {}]}), :include_blank => "", :class => 'lineItemEditComboItemBox' %>
      <ul class="nav nav-tabs">
        <li class="active"><a id="editTaskTab" href="#edit-task-tab" class="tab-background" data-toggle="tab"><i class="fa fa-info-circle"></i> Task</a></li>
        <% if @task.task_type == "E-Commerce Orders" %>
          <li><a id="editTaskEcommOrders" href="#edit-task-ecomm-orders" class="tab-background" data-toggle="tab"><i class="fa fa-shopping-cart"></i> Orders</a></li>
        <% end %>
        <% if @task.task_type == "Customer Orders" %>
          <li><a id="editTaskWarrantyOrders" href="#edit-task-warranty-orders" class="tab-background" data-toggle="tab"><i class="fa fa-shopping-cart"></i> Orders</a></li>
        <% end %>
      </ul>
      <div class="defaultTabs">
        <div class="tab-content">
          <div id="edit-task-tab" class="tab-pane fade in active"> <!-- EDIT TASK TAB -->
            <div class="container editTaskContainer">
              <div class="task_fields">
                <div class="task_header">
                  <span class="task_title">Task Details</span>
                  <span class="task_add_attributes_button"><i class="fa fa-plus"></i> Attribute<i class="fa fa-question-circle"></i></span>
                  <span class="task_add_comment_button"><i class="fa fa-plus"></i> Comment<i class="fa fa-question-circle"></i></span>
                  <span class="task_add_file_button"><i class="fa fa-plus"></i> File<i class="fa fa-question-circle"></i></span>
                </div>
                <div class="task_basic_details">
                  <div class="task_basic_details_header">Basic Details</div>
                  <table class="table table-bordered" id="editTaskSelectTable">
                    <thead>
                      <th>Recipient</th>
                      <th>Task Type</th>
                      <th>Due Date</th>
                      <th>Task Name</th>
                      <th>Task Status</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= f.select_without_bootstrap :initiated_for_id, options_for_select([["Tyler Polzin", "1"]], selected: f.object.initiated_for_id), {:prompt => "Select Recipient..."}, required: true, class: "form-control", :id => "taskRecipientSelect" %></td>
                        <td><%= f.text_field :task_type, readonly: true, hide_label: true, :id => "taskTypeSelectEdit" %></td>
                        <td><%= f.text_field :due_date, limit: 10, value: f.object.due_date_trunc, hide_label: true, readonly: true, :id => "taskDatepicker", :placeholder => "Select Due Date..." %></td>
                        <td><%= f.text_field :name, hide_label: true, readonly: true, :placeholder => "Select Task Type on the left...", class: "cursor-fix", :id => "newTaskName" %></td>
                        <td><%= f.select :status, options_for_select(["Pending", "Accepted", "Completed"], selected: f.object.status), {hide_label: true}, required: true, :id => "taskStatusSelect" %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="taskAttributesContainer"><%= render "task_attributes", :f => f %></div>

                <%= render "tasks/edit/edit_task_comment", :f => f %>
                <p hidden><%= add_child_link_task_comment "", :comments %></p>
                <%= new_child_fields_template_task_comment f, :comments %>

                <div class="editTaskUploadsContainer">
                  <div class="new_task_files_header">
                    <span class="new_task_files_title">Associated Files</span>
                    <span class="files_remove_button"><i class="fa fa-close"></i></span>
                  </div>
                  <div class="new_task_files_top_border"></div>
                  <%= render "tasks/edit/edit_task_upload", :f => f %>
                  <p><%= add_child_link_new_task_upload " Add File", :uploads %></p> <!-- Renders '_upload.html.erb' -->
                  <div class="new_task_files_bottom_border"></div>
                  <%= new_child_fields_template_new_task_upload f, :uploads %>
                </div>

              </div>
            </div>
          </div>
          <% if @task.task_type == "E-Commerce Orders" %>
            <div id="edit-task-ecomm-orders" class="tab-pane fade">
              <div class="container editEcommOrdersContainer">
                <%= render "tasks/edit/edit_ecomm_order", :f => f %>
              </div>
            </div>
          <% end %>
          <% if @task.task_type == "Customer Orders" %>
            <div id="edit-task-warranty-orders" class="tab-pane fade">
              <div class="container editWarrantyOrdersContainer">
                <%= render "tasks/edit/edit_warranty_order", :f => f %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <button id="editTaskFirstSubmit" class="btn">Update Task</button>
    <%= f.submit "Update Task", class: "hidden", :id => "editTaskSubmitButton" %>
    <% end %>
  </div>
</div>
<div id="jstemplates_new_task_comment">
  <%= yield :new_task_comment_fields %>
</div>
<div id="jstemplates_ecomm_order">
  <%= yield :new_task_ecomm_order_fields %>
</div>
<div id="jstemplates_warranty_order">
  <%#= yield :new_task_warranty_order_fields %>
</div>
<div id="jstemplates_new_task_upload">
  <%= yield :new_task_upload_fields %>
</div>