<% @title = "SRS Portal | All Tasks" %>
<div class="defaultDiv" id="taskListDiv">
  <p class="defaultDivHeader">All Tasks</p>
  <div class="tasksTable">
    <table id="tasksDataTable" class="display" style="width:100%">
      <thead>
        <tr>
          <th style="width:5px;"><p style="display:none;">Details</p></th> <!-- the <p> is a hacky way to get "Details" to show up in the Colvis buttons dropdown -->
          <th>Description</th>
          <th>Files</th>
          <th>
            <table class="table order_summary_header">
              <thead>
                <tr>
                  <th colspan="5">Order Summary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Status</td>
                  <td>Task Description</td>
                  <td>Order #</td>
                  <td>Open/Close Date</td>
                  <td>Line Items</td>
                </tr>
              </tbody>
            </table>
          </th>
          <th>Comments</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <div class="taskTableChildren"
        data-child-blank=''>
        
      </div>
      <tbody class="task-table">
        <% @tasks.each do |task| %>
          <tr
            data-child-expando="<div class='glider'>
                                  <table class='tasks-expando'>
                                    <thead>
                                      <tr>
                                        <th></th>
                                        <th>Additional Attributes</th>
                                        <th>Meta Notes</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr class='no-table'>
                                        <td>
                                          <a class='btn btn-sm' data-method='get' href='/tasks/<%= task.id %>/edit'>Edit This Task</a>
                                        </td>
                                        <td class='zero-pad'>
                                          <table class='clear defaultExpandoInnerTable'>
                                            <thead></thead>
                                            <tbody>
                                              <tr>
                                                <td>Assigned For</td>
                                                <td><%= task.initiated_for.header_name %></td>
                                              </tr>
                                              <tr>
                                                <td>Assigned By</td>
                                                <td><%= task.initiated_by.header_name %></td>
                                              </tr>
                                              <% if task.details.present? %>
                                                <% task.details.try(:each) do |key, value| %>
                                                  <tr>
                                                      <td><%= key %></td>
                                                      <td><%= value %></td>
                                                  </tr>
                                                <% end %>
                                              <% end %>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td>
                                          <p>Entry Created: <%= task.created_at.strftime("%Y/%m/%d (%R)") %></p>
                                          <p>Entry Last Updated: <%= task.updated_at.strftime("%Y/%m/%d (%R)") %></p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>">
            <td class="details-control"></td>
            <td> <!-- Task Name -->
              <p hidden><%= task.created_at %></p>
              <p hidden class="task_type_hidden"><%= task.task_type %></p>
              <%= link_to task.name, task_path(task), method: :get %>
            </td>
            <td class="task_uploads_table"> <!-- Files -->
              <% if task.uploads.present? %>
                <table class="table">
                  <thead></thead>
                  <tbody>
                    <% if task.uploads.length <= task.order_size %>
                      <% task.uploads.each do |upload| %>
                        <tr>
                          <td><%= link_to upload.file_file_name, upload.file.url(:original, false), target: "_blank", class: "task_file_upload_tooltip", :"file-size" => "File Size: #{number_to_human_size(upload.file_file_size, precision: 2)}", :"description" => "#{upload.description if upload.description.present?}#{"N/A" if upload.description.blank?}"  %></td>
                        </tr>
                      <% end %>
                    <% else %>
                      <tr>
                        <td>
                          <li class="dropdown" style="list-style:none;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-double-down"></i> View Files <i class="fa fa-angle-double-down"></i></a>
                            <ul class="dropdown-menu task_uploads_file_dropdown">
                              <% task.uploads.each do |upload| %>
                                <li>
                                  <table class="table">
                                    <thead></thead>
                                    <tbody>
                                      <tr>
                                        <td><%= link_to upload.file_file_name, upload.file.url(:original, false), target: "_blank", class: "task_file_upload_tooltip", :"file-size" => "File Size: #{number_to_human_size(upload.file_file_size, precision: 2)}", :"description" => "#{upload.description if upload.description.present?}#{"N/A" if upload.description.blank?}"  %></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  
                                  
                                </li>
                              <% end %>
                            </ul>
                          </li>

                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            </td>
            <td class="task_ecomm_orders_summary_table"> <!-- Order Summary -->
              <% if task.is_basic_task %>
                No Orders For This Task
              <% end %>
              <% if task.is_ecomm_order %>
                <table class="table">
                  <thead></thead>
                  <tbody>
                    <% task.ecomm_orders.each do |ecomm_order| %>
                      <tr>
                        <td class="order_status">
                          <span class="order_status_value"><%= ecomm_order.status %></span>
                          <span class="hidden cancellation_reason_grab"><%= ecomm_order.cancellation_reason if ecomm_order.cancellation_reason.present? %></span>
                        </td>
                        <td><%= ecomm_order.retailer %> order for <%= ecomm_order.customer_name %></td>
                        <td><%= ecomm_order.order_number %></td>
                        <% if ecomm_order.completion_date.present? %>
                          <td>Close Date: <%= ecomm_order.completion_date.strftime("%A, %B %d, %Y") %></td>
                        <% else %>
                          <td>Due Date: <%= ecomm_order.due_date.strftime("%A, %B %d, %Y") if ecomm_order.due_date.present? %><%= "No Due Date Assigned" if ecomm_order.due_date.blank? %></td>
                        <% end %>
                        <td class="line_items_table">
                          <table class="table">
                            <thead></thead>
                            <tbody>
                              <% if ecomm_order.line_items.present? %><% @line_item_length = ecomm_order.line_items.length %>
                                <% if ecomm_order.line_items.length < 2 %>
                                  <% ecomm_order.line_items.each do |line_item| %>
                                    <tr>
                                      <td><%= line_item.item_select %></td>
                                    </tr>
                                  <% end %>
                                <% else %>
                                  <tr>
                                    <td>
                                      <li class="dropdown" style="list-style:none;">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-double-down"></i> View <%= @line_item_length %> Line Items <i class="fa fa-angle-double-down"></i></a>
                                        <ul class="dropdown-menu">
                                          <% ecomm_order.line_items.each do |line_item| %>
                                            <li><%= line_item.item_select %></li>
                                          <% end %>
                                        </ul>
                                      </li>
                                    </td>
                                  </tr>
                                <% end %>
                              <% else %>
                                <tr>
                                  <td>No Line Items Present</td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
              <% if task.is_customer_order %>
                <table class="table">
                  <thead></thead>
                  <tbody>
                    <% task.warranty_orders.each do |customer_order| %>
                      <tr>
                        <td class="order_status">
                          <span class="order_status_value"><%= customer_order.status %></span>
                          <span class="hidden cancellation_reason_grab"><%= customer_order.cancellation_reason if customer_order.cancellation_reason.present? %></span>
                        </td>
                        <td>Customer order for <%= customer_order.customer.name if customer_order.customer.present? %></td>
                        <td><%= customer_order.order_number %></td>
                        <% if customer_order.completion_date.present? %>
                          <td>Close Date: <%= customer_order.completion_date.strftime("%A, %B %d, %Y") %></td>
                        <% else %>
                          <td>Due Date: <%= customer_order.due_date.strftime("%A, %B %d, %Y") if customer_order.due_date.present? %><%= "No Due Date Assigned" if customer_order.due_date.blank? %></td>
                        <% end %>
                        <td class="line_items_table">
                          <table class="table">
                            <thead></thead>
                            <tbody>
                              <% if customer_order.line_items.present? %><% @line_item_length = customer_order.line_items.length %>
                                <% if customer_order.line_items.length < 2 %>
                                  <% customer_order.line_items.each do |line_item| %>
                                    <tr>
                                      <td><%= line_item.item_select %></td>
                                    </tr>
                                  <% end %>
                                <% else %>
                                  <tr>
                                    <td>
                                      <li class="dropdown" style="list-style:none;">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-double-down"></i> View <%= @line_item_length %> Line Items <i class="fa fa-angle-double-down"></i></a>
                                        <ul class="dropdown-menu">
                                          <% customer_order.line_items.each do |line_item| %>
                                            <li><%= line_item.item_select %></li>
                                          <% end %>
                                        </ul>
                                      </li>
                                    </td>
                                  </tr>
                                <% end %>
                              <% else %>
                                <tr>
                                  <td>No Line Items Present</td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            </td>
            <td class="comments_table"> <!-- Comments -->
              <% if task.comments.present? %>
                <table class="table">
                  <thead></thead>
                      <tr>
                        <td>
                          <li class="dropdown" style="list-style:none;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-double-down"></i> View Comments <i class="fa fa-angle-double-down"></i></a>
                            <ul class="dropdown-menu task_comments_dropdown">
                              <% task.comments.each do |comment| %>
                                <li>
                                  <table class="table">
                                    <thead></thead>
                                    <tbody>
                                      <tr>
                                        <td title="Comment ID: <%= comment.id %>"><%= comment.content %></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </li>
                              <% end %>
                            </ul>
                          </li>
                        </td>
                      </tr>
                </table>
              <% end %>
            </td>
            <td><%= task.status %></td>
            <td class="noVis">  <!-- Hidden field to add table search ability to Expando -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>