<% @title = "SRS Portal | View Task Details" %>
<div class="defaultDiv" id="showTaskDiv">
  <p class="defaultDivHeader">
    <span class="show-task-brand-name"><%= @task.name %></span></br>
    <span class="show-task-description"><%= pluralize(@task.order_size, "Order") %></span>
  </p>
  <div class="container defaultForm">
    <ul class="nav nav-tabs">
      <li class="active"><a id="showTaskForm" href="#show-task-form" class="tab-background" data-toggle="tab"><i class="fa fa-tasks"></i> Task Information</a></li>
      <% if @task.task_type == "E-Commerce Orders" %>
        <li><a id="showEcommOrdersForm" href="#show-ecomm-orders-form" class="tab-background" data-toggle="tab"><i class="fa fa-thumb-tack"></i> Orders</a></li>
      <% end %>
      <% if @task.task_type == "Customer Orders" %>
        <li><a id="showCustomerOrdersForm" href="#show-customer-orders-form" class="tab-background" data-toggle="tab"><i class="fa fa-thumb-tack"></i> Orders</a></li>
      <% end %>
    </ul>
    <div class="defaultTabs">
      <div class="tab-content">
        <div id="show-task-form" class="tab-pane fade in active container">
          <%= render "tasks/show/show_task_form" %>
        </div>
        <% if @task.task_type == "E-Commerce Orders" %>
          <div id="show-ecomm-orders-form" class="tab-pane fade container">
            <%= render "tasks/show/show_ecomm_orders_form" %>
          </div>
        <% end %>
        <% if @task.task_type == "Customer Orders" %>
          <div id="show-customer-orders-form" class="tab-pane fade container">
            <%= render "tasks/show/show_customer_orders_form" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>