<div class="container comboItemTableContainer">
  <table class="table table-bordered" id="newComboItemTable">
    <thead></thead>
    <tbody>
      <tr>
        <td>Associated Product(s)</td>
        <td>
          <%= f.collection_select(:product_ids, @products, :id, :product_select_with_model,
                                  {include_blank: false, :include_hidden => false, hide_label: true, :selected => @combo_item.products.map(&:id)},
                                  {:multiple => true, :class => "newComboItemProductSearch", :style => "width:100%;"}) %>
        </td>
      </tr>
      <tr>
        <td>Model Number</td>
        <td><%= f.text_field :model_number, hide_label: true, placeholder: "ex: 31VGENWAL" %></td>
      </tr>
      <tr>
        <td>UPC</td>
        <td><%= f.text_field :upc, hide_label: true, placeholder: "ex: 639385319416" %></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><%= f.text_field :description, hide_label: true, placeholder: "ex: 31 inch Vanity + Top Combo" %></td>
      </tr>
      <tr>
        <td>Image</td>
        <td>
        <% if @combo_item.image? %>
          <select class="form-control" id="editImageOptions">
            <option>Keep Current Image</option>
            <option>Delete Current Image</option>
            <option>Replace Current Image</option>
          </select>
          <%= f.check_box_without_bootstrap :remove_image, :checked => false, class: 'hidden', :id => "editRemoveImage" %>
          <div class="image-border"><%= link_to (image_tag (@combo_item.image.url (:thumb))), @combo_item.image.url, target: "_blank", title: "View Full Size Image", :id => "editImageTag" %></div>
          <div class="form-group" id="editNewImage">
            <%= f.file_field_without_bootstrap :image %>
          </div>
        <% else %>
          <%= f.file_field :image, hide_label: true %>
          <%= f.check_box_without_bootstrap :remove_image, :checked => false, class: 'hidden' %>
        <% end %>
        </td>
      </tr>
      <tr>
        <td>Vendor Cost</td>
        <td><%= f.number_field :vendor_cost, min: 0, hide_label: true, prepend: "$", placeholder: "ex: 30.00", value: number_to_currency(f.object.vendor_cost.to_f, delimiter: '', unit: ''), :step => 0.01 %></td>
      </tr>
      <tr>
        <td>Retail Cost</td>
        <td><%= f.number_field :retail_cost, min: 0, hide_label: true, prepend: "$", placeholder: "ex: 49.99", value: number_to_currency(f.object.retail_cost.to_f, delimiter: '', unit: ''), :step => 0.01 %></td>
      </tr>
      <tr>
        <td>Shipping Cost</td>
        <td><%= f.number_field :shipping_cost, min: 0, hide_label: true, prepend: "$", placeholder: "ex: 10.00", value: number_to_currency(f.object.shipping_cost.to_f, delimiter: '', unit: ''), :step => 0.01 %></td>
      </tr>
      <tr>
        <td>Currently Active?</td>
        <td><%= f.select :active, [['Yes', 'true'],['No', 'false']], hide_label: true %></td>
      </tr>
      <tr>
        <td>Additional Notes</td>
        <td><%= f.text_area :notes, hide_label: true, rows: 1, wrapper: {class: 'textarea-vertical'} %></td>
      </tr>
    </tbody>
  </table>
</div>