<% @title = "SRS Portal | Edit #{@combo_item.model_number}"  %>
<div class="defaultDiv" id="editComboItemDiv">
  <p class="defaultDivHeader">
    <span class="show-product-brand-name" title="Combo Item ID: <%= @combo_item.id %>"><%= @combo_item.product_brand_name %> - <%= @combo_item.description %></span></br>
    <span class="show-product-description" style="font-size:0.8em">Entry Created: <%= @combo_item.created_at.strftime('%B %d, %Y') %> | Last Modified: <%= @combo_item.updated_at.strftime('%B %d, %Y') %></span>
  </p>
  <div class="container defaultForm">
    <%= bootstrap_form_for @combo_item, url: combo_item_path, method: :patch, :html => { :multipart => true } do |f| %>
      <% if @combo_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@combo_item.errors.count, "error") %> prohibited this part from being saved:</h2>
          <ul>
          <% @combo_item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <ul class="nav nav-tabs">
        <li class="active"><a id="editComboItemNavTab" href="#edit-combo-item-form" class="tab-background" data-toggle="tab"><i class="fa fa-edit"></i> Edit Combo Item Details</a></li>
        <li><a id="editComboItemAttributes" href="#edit-combo-item-attributes" class="tab-background" data-toggle="tab"><i class="fa fa-asterisk"></i> Edit Additional Attributes</a></li>
        <!--<li><a id="editPartUploads" href="#edit-part-uploads" class="tab-background" data-toggle="tab"><i class="fa fa-file"></i> Edit Associated Files</a></li>-->
      </ul>
      <div class="defaultTabs">
        <div class="tab-content">
          <div id="edit-combo-item-form" class="tab-pane fade in active container">
            <br/><%= render "form", :f => f %>
          </div>
          <div id="edit-combo-item-attributes" class="tab-pane fade container">
            <br/><%= render "attributes", :f => f %>
          </div>
          <!--<div id="edit-part-uploads" class="tab-pane fade"><br/>-->
          <!--  <br/><%#= render "edit_uploads", :f => f %>-->
          <!--</div>-->
        </div>
      </div>
      <button id="comboItemFirstSubmit" class="btn" style="float:right;">Update Combo Item</button>
      <%= f.submit "Update Combo Item", :id => "comboItemSubmit", :style => "display:none;" %>
    <% end %>
    <%= button_to "Delete", combo_item_path(:id => @combo_item), :method => :delete, class: 'hidden partDelete' %>
    <button class="btn btn-sm btn-danger delete-button deletePart bootbox-confirm">Delete This Combo Item</button>
  </div>
</div>