<p id="notice"><%= notice %></p>

<h1>Combo Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combo_items.each do |combo_item| %>
      <tr>
        <td><%= link_to 'Show', combo_item %></td>
        <td><%= link_to 'Edit', edit_combo_item_path(combo_item) %></td>
        <td><%= link_to 'Destroy', combo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Combo Item', new_combo_item_path %>
