<%= link_to "Create New Assignment", new_assignment_path, method: :get, class: "btn btn-sm", :style => "margin-bottom:15px;" %>
</br>
<ul class="nav nav-tabs assignments-tabs">
  <% if development? %>
    <li class="active"><a id="assignmentsActiveTab" href="#assignments-active" class="tab-background" data-toggle="tab">Active</a></li>
  <% end %>
  <li class=<% "active" if !development? %>><a id="assignmentsBugReportTab" href="#assignments-bug_report" class="tab-background" data-toggle="tab">Bug Reports</a></li>
  <li><a id="assignmentsCompleteTab" href="#assignments-complete" class="tab-background" data-toggle="tab">Complete</a></li>
  <% if development? %>
    <li><a id="generalRemindersTab" href="#assignments-general_reminders" class="tab-background" data-toggle="tab">General Reminders</a></li>
  <% end %>
</ul>

<div id="assignmentsTabs">
  <div class="tab-content">
    <% if development? %>
      <div id="assignments-active" class="tab-pane fade in active container">
        <%= render "assignment_table", controller: @activeassignments %>
      </div>
    <% end %>
    <div id="assignments-bug_report" class="tab-pane fade container">
      <%= render "assignment_table", controller: @bugreports %>
    </div>
    <div id="assignments-complete" class="tab-pane fade container">
      <%= render "assignment_table", controller: @completeassignments %>
    </div>
    <% if development? %>
      <div id="assignments-general_reminders" class="tab-pane fade container">
        <%= render "assignment_table", controller: @generalreminders %>
      </div>
    <% end %>
  </div>

</div>
