<%= link_to "Create New Assignment", new_assignment_path, method: :get, class: "btn btn-sm", :style => "margin-bottom:15px;" %>
</br>
<ul class="nav nav-tabs assignments-tabs">
  <% if development? %>
    <li class=<%= "active" if development? %>><a id="assignmentsActiveTab" href="#assignments-active" class="tab-background" data-toggle="tab">Active</a></li>
  <% end %>
  <li class=<%= "active" if production? %>><a id="assignmentsBugReportTab" href="#assignments-bug_report" class="tab-background" data-toggle="tab">Bug Reports</a></li>
  <li><a id="assignmentsCompleteTab" href="#assignments-complete" class="tab-background" data-toggle="tab">Complete</a></li>
  <% if development? %>
    <li><a id="generalRemindersTab" href="#assignments-general_reminders" class="tab-background" data-toggle="tab">General Reminders</a></li>
  <% end %>
</ul>

<div id="assignmentsTabs">

  <div class="tab-content">
    <% if development? %>
      <div id="assignments-active" class="tab-pane fade <%= "in active" if development? %> container">
        <%= render "assignment_table", controller: @activeassignments %>
      </div>
    <% end %>
    <div id="assignments-bug_report" class="tab-pane fade <%= "in active" if production? %> container">
      <%= render "assignment_table", controller: @bugreports %>
    </div>
    <div id="assignments-complete" class="tab-pane fade container">
      <%= render "assignment_table", controller: @completeassignments %>
    </div>
    <% if development? %>
      <div id="assignments-general_reminders" class="tab-pane fade container">
        <%= render "assignment_table", controller: @generalreminders %>
      </div>
    <% end %>
  </div>

</div>
<% if current_user.admin? %>
<div id="pagesStatus">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Model</th>
        <th>View</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Products</td>
        <td>New</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs new styling updates</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Products</td>
        <td>Edit</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs new styling updates</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Products</td>
        <td>Show</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs new styling updates</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Products</td>
        <td>Index</td>
        <td class="order_status_completed">Complete</td>
        <td></td>
      </tr>

      <tr>
        <td>Parts</td>
        <td>New</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs new styling updates</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Parts</td>
        <td>Edit</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs new styling updates</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Parts</td>
        <td>Show</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs new styling updates</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Parts</td>
        <td>Index</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Combo Items</td>
        <td>New</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs new styling updates</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Combo Items</td>
        <td>Edit</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs new styling updates</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Combo Items</td>
        <td>Show</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs new styling updates</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Combo Items</td>
        <td>Index</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Files</td>
        <td>New</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Files</td>
        <td>Edit</td>
        <td class="order_status_open">In Progress</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Files</td>
        <td>Show</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Files</td>
        <td>Show (Upload Batch)</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Files</td>
        <td>Index</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Needs filter buttons added</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Tasks</td>
        <td>New</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Tasks</td>
        <td>Edit</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Tasks</td>
        <td>Show</td>
        <td class="order_status_open">In Progress</td>
        <td>
          <ul>
            <li>Show "E-Commerce Orders" tab is <b>incomplete</b></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Tasks</td>
        <td>Index</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>E-Commerce Orders</td>
        <td>New</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Part of "Tasks"</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>E-Commerce Orders</td>
        <td>Edit</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Part of "Tasks"</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>E-Commerce Orders</td>
        <td>Show</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>E-Commerce Orders</td>
        <td>Index</td>
        <td class="order_status_completed">Complete</td>
        <td></td>
      </tr>

      <tr>
        <td>Customer Orders</td>
        <td>New</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Part of "Tasks"</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Customer Orders</td>
        <td>Edit</td>
        <td class="order_status_completed">Complete</td>
        <td>
          <ul>
            <li>Part of "Tasks"</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Customer Orders</td>
        <td>Show</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Customer Orders</td>
        <td>Index</td>
        <td class="order_status_new">Incomplete</td>
        <td></td>
      </tr>

      <tr>
        <td>Store Orders</td>
        <td>New</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li>Part of "Tasks"</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Store Orders</td>
        <td>Edit</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li>Part of "Tasks"</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Store Orders</td>
        <td>Show</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Store Orders</td>
        <td>Index</td>
        <td class="order_status_new">Incomplete</td>
        <td></td>
      </tr>

      <tr>
        <td>Stores</td>
        <td>New</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Stores</td>
        <td>Edit</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Stores</td>
        <td>Show</td>
        <td class="order_status_new">Incomplete</td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Stores</td>
        <td>Index</td>
        <td class="order_status_new">Incomplete</td>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>
<% end %>