<div class="myProductsTable">
  <table id="drsharpProductsDataTable" class="display">
    <thead>
      <tr>
        <th></th>
        <th>Brand Name</th>
        <th>MFR Model #</th>
        <th>Description</th>
        <th>Qty On Hand</th>
        <th>Qty Last Updated</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="my-product-table">
      <% @products.each do |product| %>
        <tr
          data-child-photo="<% if product.image.present? %>
                              &lt;img src=&quot;/system/products/images/000/000/<%= product.id_w_leading_zero %>/thumb/<%= product.image.original_filename %>&quot; alt=&quot;<%= product.image.original_filename %>&quot;&gt;
                            <% else %>
                              No Photo Attached
                            <% end %>"
          data-child-upc="UPC">
          <td class="details-control"></td>
          <td>
            <% if product.brand_name.present? %>
              <%= product.brand_name %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <% if product.manufacturer_model_number.present? %>
              <%= link_to product.manufacturer_model_number, product_path(id: product.id), method: :get, target: '_blank', title: "View Product Details" %>
            <% else %>
              <%= link_to "N/A", product_path(id: product.id), method: :get, target: '_blank', title: "View Product Details" %>
            <% end %>
          </td>
          <td>
            <% if product.description.present? %>
              <%= product.description %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <% if product.count_on_hand.present? %>
              <%= product.count_on_hand %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>Last Updated On X</td>
          <td>
            <% if product.notes.present? %>
              <%= simple_format product.notes %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>  <!-- Hidden field to add table search ability to Child Rows -->

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>