<%= button_to "New Bug Report", new_assignment_path, method: :get, class: "btn btn-sm" %>
</br>
<ul class="nav nav-tabs assignments-tabs">
  <li class="active"><a id="assignmentsActiveTab" href="#assignments-active" class="tab-background" data-toggle="tab">Pending</a></li>
  <li><a id="assignmentsCompleteTab" href="#assignments-complete" class="tab-background" data-toggle="tab">Completed</a></li>
</ul>

<div id="assignmentsTabs">
  <div class="tab-content">
    <div id="assignments-active" class="tab-pane fade in active container">
      <table class="table table-bordered dashboardAssignmentsTable">
        <thead>
          <tr>
            <th>Association</th>
            <th>Description</th>
            <th>Additional Information</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tbody>
          <% if @activebugreports.exists? %>
            <% @activebugreports.each do |a| %>
              <tr>
                <td><%= a.scaffold_association %></td>
                <td><%= best_in_place a, :description, as: :textarea %></td>
                <td><%= best_in_place a, :wordy_details, as: :textarea %></td>
                <td><%= a.created_at.strftime('%B %d, %Y') %></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan="4">No Active Reports Found</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="assignments-complete" class="tab-pane fade container">
      <table class="table table-bordered dashboardAssignmentsTable">
        <thead>
          <tr>
            <th>Association</th>
            <th>Description</th>
            <th>Additional Information</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tbody>
          <% if @completedbugreports.exists? %>
            <% @completedbugreports.each do |a| %>
              <tr>
                <td><%= a.scaffold_association %></td>
                <td><%= best_in_place a, :description, as: :textarea %></td>
                <td><%= best_in_place a, :wordy_details, as: :textarea %></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan="4">No Completed Reports Found</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
