
<% @title = "SRS Portal | User List" %>
<div class="defaultDiv" id="usersTableDiv">
  <p class="defaultDivHeader">User List</p>
  <div class="usersTable">
      <table id="usersListDataTable" class="display" style="width: 100%">
        <thead>
          <tr>
            <th></th>
            <th>UID</th>
            <th>Email (Login)</th>
            <th>Custom Datasets</th>
            <th>User Created At</th>
            <th>Entry Last Modified</th>
            <th></th>
            <% if current_user.admin? %>
              <th><div>Admin?</div></th>
              <th><div>Role</div></th>
            <% else %><% end %>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr 
            data-child-fakeout="fakeout"
            data-child-edit="<% if current_user.admin? %>
                               &lt;form class=&quot;button_to&quot; method=&quot;get&quot; action=&quot;/users/<%= u.id %>/profile/edit&quot;&gt;
                                 &lt;input class=&quot;btn btn-sm show-profile-password-button&quot; type=&quot;submit&quot; value=&quot;Edit Profile&quot;&gt;
                               &lt;/form&gt;
                             <% end %>"
            data-child-name="<% if u.profile.name.present? %>
                               <%= u.profile.name %>
                             <% else %>
                               <p>N/A</p>
                             <% end %>"
            data-child-company="<% if u.profile.company.present? %>
                                  <p><%= u.profile.company %></p>
                                  <p><%= u.profile.position %></p>
                                <% else %>
                                  <p>N/A</p>
                                <% end %>" 
            data-child-address="<% if u.profile.address.present? %>
                                  <p><%= u.profile.address %></p>
                                  <p><%= u.profile.city %>, <%= u.profile.state %> <%= u.profile.zipcode %></p>
                                <% else %>
                                  <p>N/A</p>
                                <% end %>"
            data-child-phone="<% if u.profile.phone1.present? %>
                                <p><%= number_to_phone(u.profile.phone1, area_code: true) %> (<%= u.profile.phone1_type %>)</p>
                                <% if u.profile.phone2.present? %>
                                  <p><%= number_to_phone(u.profile.phone2, area_code: true) %> (<%= u.profile.phone2_type %>)</p>
                                <% else %><% end %>
                              <% else %>
                                <p>N/A</p>
                              <% end %>"
            data-child-email="<% if u.profile.email.present? %>
                                <%= u.profile.email %>
                              <% else %>N/A<% end %>"
            data-child-latlong="<% if u.profile.lat.present? %>
                                  <%= u.profile.lat %>/<%= u.profile.long %>
                                <% else %>N/A<% end %>"
            data-child-notes="<% if u.profile.notes.present? %>
                                <%= simple_format u.profile.notes %>
                              <% else %>N/A<% end %>">
              <td class="details-control"></td>
              <td><%= link_to u.id, user_path(id: u.id), method: :get %></td>
              <td><%= best_in_place_if current_user.admin?, u, :email, class: 'form-control', inner_class: 'input-small input-width' %></td>
              <td><%= best_in_place_if current_user.admin?, u, :user_color, class: 'form-control', inner_class: 'input-small input-width' %></td>
              <td><div style='width: 170px'><%= u.created_at %></div></td>
              <td><div style='width: 170px'><%= u.updated_at %></div></td>
              <td>  <!-- Hidden field to add table search ability to Child Rows in next 18 lines -->
                All hidden data goes here
              </td>
              <% if current_user.admin? %>
                <td>
                  <%= best_in_place u, :admin, :as => :checkbox, collection: {'false' => "false", 'true' => "true"} %>
                </td>
                <td>
                  <% u.roles.each do |r| %>
                    <p><%= r.name %></p>
                  <% end %>
                </td>
              <% else %><% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
