<% @title = "SRS Portal | Upload New Files" %>
<div class="defaultDiv" id="newUploadsDiv">
  <p class="defaultDivHeader">Upload New Files</p>
  <div class="container defaultNoTabsForm">
    <a class="btn tempMargin" id="addFileButton">Add File</a>
    <%= bootstrap_form_for @upload_batch, url: upload_batches_path, method: :post, :html => { :class => :form, :multipart => true } do |f| %>
      <% if @upload_batch.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@upload_batch.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
          <% @upload_batch.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= new_child_fields_template f, :uploads %>
        <%= add_child_link_upload "Add File", :uploads %> <!-- Renders "_upload.html.erb" -->
      </div>
      <button id="uploadBatchFirstSubmit" class="btn" style="float:right;">Upload Files</button>
      <%= f.submit "", class: "hidden", :id => "uploadFilesButton" %>
    <% end %>
  </div>
</div>
<div id="jstemplates">
  <%= yield :jstemplates %>
</div>