<div class="container customerTableContainer">
  <table class="table table-bordered" id="newCustomerTable">
    <thead></thead>
    <tbody>
      <tr>
        <td>First Name</td>
        <td>
          <%= f.text_field :firstname, hide_label: true %>
        </td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><%= f.text_field :lastname, hide_label: true %></td>
      </tr>
      <tr>
        <td>Company</td>
        <td><%= f.text_field :company, hide_label: true %></td>
      </tr>
      <tr>
        <td>Address 1</td>
        <td><%= f.text_field :address1, hide_label: true %></td>
      </tr>
      <tr>
        <td>Address 2</td>
        <td><%= f.text_field :address2, hide_label: true %></td>
      </tr>
      <tr>
        <td>Zip Code <i class="fa fa-question-circle customer_zipcode_tooltip"></i></td>
        <td>
          <div class="form-group">
            <%= text_field_tag "", nil, class: "customerZipcode form-control", :name => "zipcode", placeholder: "Enter Zip Code..." %>
          </div>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
          <div class="form-group">
            <%= text_field_tag "", nil, class: "customerCity form-control", :name => "city" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>State</td>
        <td>
          <div class="form-group">
            <%= select_tag "", options_for_select(us_states, selected: f.object.state), {class: "customerState form-control", :name => "state"} %>
          </div>
        </td>
      </tr>
      <tr>
        <td>Country</td>
        <td><%= f.country_select :country, selected: "US", priority_countries: ["US", "CA", "CN", "MX", "CO"] %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><%= f.text_field :phone, hide_label: true, class: "phone_mask" %></td> <!-- value: number_to_phone(f.object.phone, area_code: true) -->
      </tr>
      <tr>
        <td>Email Address</td>
        <td><%= f.email_field :email, hide_label: true %></td>
      </tr>
    </tbody>
    <%= f.hidden_field :city, class: "customerCityHidden" %>
    <%= f.hidden_field :state, class: "customerStateHidden" %>
    <%= f.hidden_field :zipcode, class: "customerZipcodeHidden" %>
    <%= f.text_field :lat %>
    <%= f.text_field :long %>
  </table>
</div>
