<div class="showCustomerContainer">
  <div class="show_customer_fields">
    <div class="customer_header">
      <span class="customer_title">Customer Details</span>
      <%= link_to "<i class='fa fa-edit'></i> Edit This Customer".html_safe, edit_customer_path(id: @customer), method: :get, class: 'edit_customer_button' %>
    </div>
    <div class="customer_basic_details">
      <div class="customer_basic_details_header">Basic Information</div>
      <table class="table table-bordered" id="showCustomerTable">
        <thead></thead>
         <thead></thead>
        <tbody>
          <tr>
            <td>First Name</td>
            <td><%= @customer.firstname %></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><%= @customer.lastname %></td>
          </tr>
          <tr>
            <td>Company</td>
            <td><%= @customer.company %></td>
          </tr>
          <tr>
            <td>Address 1</td>
            <td><%= @customer.address1 %></td>
          </tr>
          <tr>
            <td>Address 2</td>
            <td><%= @customer.address2 %></td>
          </tr>
          <tr>
            <td>City</td>
            <td><%= @customer.city %></td>
          </tr>
          <tr>
            <td>State</td>
            <td><%= @customer.state %></td>
          </tr>
          <tr>
            <td>Zip Code</td>
            <td><%= @customer.zipcode %></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><%= @customer.country %></td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td><%= link_to @customer.phone, "tel:#{@customer.phone}" %></td>
          </tr>
          <tr>
            <td>Email Address</td>
            <td><%= mail_to @customer.email %></td>
          </tr>
          <tr>
            <td>Lat</td>
            <td><%= @customer.lat %> <%= link_to "View on Google Maps", "https://www.google.com/maps/search/?api=1&query=#{@customer.lat},#{@customer.long}", target: "_blank", :style => "float:right;" %></td>
          </tr>
          <tr>
            <td>Long</td>
            <td><%= @customer.long %></td>
          </tr>
          <tr>
            <td>Customer Entry Created On</td>
            <td><%= @customer.created_at.strftime("%Y-%m-%d") %></td>
          </tr>
          <tr>
            <td>Customer Entry Last Updated</td>
            <td><%= @customer.updated_at.strftime("%Y-%m-%d") %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <% if @customer.details.present? %>
      <div class="show_basic_pop_fields">
        <div class="show_basic_pop_header">
          <span class="show_basic_pop_title">Custom Attributes</span>
        </div>
        <table class="table table-bordered" id="showCustomerAttributes">
          <thead></thead>
          <tbody>
            <% @customer.details.try(:each) do |key, value| %>
              <tr>
                <td><%= key %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @customer.comments.present? %>
      <div class="show_basic_pop_fields">
        <div class="show_basic_pop_header">
          <span class="show_basic_pop_title">Comments</span>
        </div>
        <table class="table table-bordered" id="showCustomerComments">
          <thead></thead>
          <tbody>
            <% @customer.comments.order(:id).each do |comment| %>
              <tr>
                <td>
                  <%= comment.content %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

  </div>
</div>
