<% @title = "SRS Portal | Create New Customer" %>
<div class="defaultDiv" id="newCustomerDiv">
  <p class="defaultDivHeader">Create New Customer</p>
  <div class="container defaultNoTabsForm">
    <div class="text-error"></div>
    <%= bootstrap_form_for @customer, url: customers_path, method: :post, :html => { :class => :form, :multipart => true } do |f| %>
      <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this Item from being created:</h2>
          <ul>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="show_basic_pop_container new_customer_container">
        <div class="show_basic_pop_container_header">
          <span class="show_basic_pop_container_title">Customer Information</span>
          <span class="customer_add_attributes_button"><i class="fa fa-plus"></i> Attribute<i class="fa fa-question-circle"></i></span>
          <span class="customer_add_comment_button"><i class="fa fa-plus"></i> Comment<i class="fa fa-question-circle"></i></span>
        </div>
        <div class="show_basic_pop_fields new_customer_basic_details">
          <div class="show_basic_pop_header">
            <span class="show_basic_pop_title">Basic Details</span>
          </div>
          <%= render "form", :f => f %>
        </div>
        <%= render "attributes", :f => f %>
        <p hidden><%= add_child_link_new_customer_comment "", :comments %></p>
        <%= new_child_fields_template_new_customer_comment f, :comments %>
      </div>
      <button id="customerFirstSubmit" class="btn">Create Customer</button>
      <%= f.submit "Create Customer", :id => "customerSubmit", :style => "display:none;" %>
    <% end %>
  </div>
</div>

<div id="jstemplates_new_customer_comment">
  <%= yield :new_customer_comment_fields %>
</div>