<%= f.fields_for :tracking_numbers, f.object.tracking_numbers.order(:id) do |f| %>
  <div class="line_item_tracking_number_fields">
    <table class="table newLineItemTrackingNumberContainer">
      <tbody>
        <tr>
          <td><%= f.text_field :tracking_number, hide_label: true, placeholder: "Add Tracking Number...", class: "lineItemTrackingNumber" %></td>
          <td><i class="fa fa-question-circle tracking_carrier_tooltip"></i><%= f.select :carrier, options_for_select(@carriers, selected: f.object.carrier), {:prompt => "Select Carrier...", hide_label: true}, class: "tracking-number-carrier-select rendered" %></td>
          <td><%= f.select :shipping_method, options_for_select(ship_methods, selected: f.object.shipping_method), {:prompt => "Select Ship Method...", hide_label: true}, class: "tracking-number-ship-method-select rendered" %></td>
          <td><%= f.text_field :ship_date, value: f.object.ship_date_trunc, hide_label: true, readonly: true, placeholder: "Select Ship Date...", class: "tracking-number-ship-date-datepicker taskDefaultDatepicker" %></td>
          <td>
            <%= f.number_field :shipping_cost, hide_label: true,
                                               min: 0,
                                               prepend: "$<i class='fa fa-question-circle tracking_cost_tooltip'></i>".html_safe,
                                               placeholder: "Shipping Cost...",
                                               value: number_to_currency(f.object.shipping_cost.to_f, delimiter: "", unit: ""),
                                               step: 0.01,
                                               required: true,
                                               class: "lineItemTrackingNumberCost" %>
          </td>
          <td>
            <i class='fa fa-close tracking_number_individual_remove_button'></i>
            <%= f.hidden_field :_destroy, value: false, class: "remove_child_line_item_edit_tracking_number" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>