<%= f.fields_for :ecomm_orders, @task.ecomm_orders.order(:id).each do |f| %>
  <div class="ecomm_order_fields">
    <div class="ecomm_order_header">
      <span class="ecomm_order_title">Ecomm Order</span>
      <span class="ecomm_order_add_attributes_button"><i class="fa fa-plus"></i> Attribute<i class="fa fa-question-circle"></i></span>
      <span class="ecomm_order_edit_add_comment_button"><i class="fa fa-plus"></i> Comment<i class="fa fa-question-circle"></i></span>
      <span class="ecomm_order_add_line_item_button"><i class="fa fa-plus"></i> Line Item<i class="fa fa-question-circle"></i></span>
      <span class="ecomm_order_edit_remove_button"><i class="fa fa-close"></i></span>
    </div>
    </br><div class="ecomm_order_details">
      <div class="ecomm_order_details_header">
        <span class="ecomm_order_details_title">Basic Details</span>
      </div>
      <table class="table table-bordered newEcommOrderContainer">
        <thead>
          <tr>
            <th>Retailer</th>
            <th>Customer Name</th>
            <th>Order Number</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th>Due Date</th>
            <th>Completion Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= f.select_without_bootstrap :retailer, options_for_select(@retailers, selected: f.object.retailer), {:prompt => "Select Retailer..."}, required: true, class: "form-control ecommOrderRetailerSelect", title: "Retailer" %></td>
            <td><%= f.text_field :customer_name, hide_label: true, placeholder: "Enter Customer Name...", title: "Customer Name", required: true, class: "ecommOrderCustomerName" %></td>
            <td><%= f.text_field :order_number, hide_label: true, title: "Order Number", placeholder: "Enter Order Number..." %></td>
            <td><%= f.select :status, options_for_select(["New", "Open", "Completed", "Cancelled"], selected: f.object.status),{hide_label: true, :prompt => "Select Status..."}, class: "ecommOrderStatusSelect" %></td>
            <td><%= f.text_field :order_date, value: f.object.order_date_trunc, hide_label: true, readonly: true, placeholder: "Select Order Date...", title: "Order Date", class: "ecommOrderOrderDate taskDefaultDatepicker" %></td>
            <td><%= f.text_field :due_date, value: f.object.due_date_trunc, hide_label: true, readonly: true, :placeholder => "Select Due Date...", class: "ecommOrderDueDate taskDefaultDatepicker" %></td>
            <td><%= f.text_field :completion_date, value: f.object.completion_date_trunc, hide_label: true, readonly: true, :placeholder => "Select Completion Date...", class: "ecommOrderCompletionDate taskDefaultDatepicker" %></td>
            </td>
          </tr>
          <tr class="ecommOrderCancellationReasonRow">
            <td class="shipMethodRow"><span class="form-control method">Ship Method Request:</span></td>
            <td class="shipMethodRow"><%= f.select :requested_carrier, options_for_select(@carriers, selected: f.object.requested_carrier), {:prompt => "Select Carrier...", hide_label: true}, class: "ecommOrderCarrierRequestSelect" %></td>
            <td class="shipMethodRow"><%= f.select :requested_method, options_for_select(ship_methods, selected: f.object.requested_method), {:prompt => "Select Ship Method...", hide_label: true}, class: "ecommOrderShipMethodRequestSelect" %></td>
            <td colspan="2">
              <%= f.select :cancellation_reason, options_for_select(["Out of Stock", "Cancelled at Merchants Request", "Item Select Error", "Other (see comments)"], selected: f.object.cancellation_reason), {hide_label: true, :prompt => "Select Cancellation Reason..."}, class: "ecommOrderCancellationReasonSelect" %>
              <%= f.hidden_field :active, value: true, class: "ecommOrderActiveBoolean" %>
              <%= remove_child_link_ecomm_order "", f %>
            </td>
            <td colspan="2"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="ecommOrderAttributesContainer">
      <%= render "ecomm_order_attributes", :f => f %>
    </div>

    <%= render "tasks/edit/edit_ecomm_order_comment", :f => f %>
    <p hidden><%= add_child_link_ecomm_order_edit_comment "", :comments %></p>

    <%= render "tasks/edit/edit_line_item", :f => f %>
    <p hidden><%= add_child_link_ecomm_order_line_item "Add Item", :line_items %></p>
    <%= new_child_fields_template_ecomm_order_line_item f, :line_items %>

    <%= render "tasks/edit/edit_ecomm_order_comment_template", :f => f %>

    <div class="new_task_ecomm_order_line_item">
      <%= yield :new_task_ecomm_order_line_item_fields %>
    </div>
  </div>
<% end %>
