<div class="adjustHistoryIndividualTable">
  <table id="adjustHistoryIndividualDataTable" class="display" style="width: 100%;">
    <thead>
      <tr>
        <th><div style="width:90px;">Date</div></th>
        <th>Item Type</th>
        <th>Brand Name</th>
        <th>Model #</th>
        <th>Description</th>
        <th>Adjustment Quantity</th>
        <th>New Quantity</th>
        <th>Adjustment Type</th>
        <th>Created By</th>
      </tr>
    </thead>
    <div class="adjustHistoryIndividualChildren"
      data-child-brand_names='<% if admin_or_employee? %>
                                <li>
                                  <div class="button-group brandFilter">
                                    <button type="button" class="btn header-btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench" aria-hidden="true"></i> Brand Name <span class="caret"></span></button>
                                    <ul class="dropdown-menu brandFilterMenu">
                                      <% @brand.each do |brand| %>
                                        <li class="selected"><label><input type="checkbox" checked name="brand" value="<%= brand %>"/>&nbsp;<%= brand %></label></li>
                                      <% end %>
                                    </ul>
                                  </div>
                                </li>
                              <% end %>'>
    </div>
    <tbody class="adjust-history-individual-table">
      <% @stockmovements.each do |i| %>
        <tr>
          <td><%= i.created_at.strftime('%Y-%m-%d (%R)') %></td>
          <td> <!-- Item Type -->
            <% if i.is_product %>
              Product
            <% elsif i.is_part %>
              Part
            <% else %>
              Error, No Sku Present
            <% end %>
          </td>
          <td> <!-- Brand Name -->
            <% if i.is_product %>
              <% if i.product.present? %>
                <%= i.product.brand_name %>
              <% else %>
              <% end %>
            <% elsif i.is_part %>
              <% if i.part.present? %>
                <%= i.part.product_brand_name %>
              <% else %>
              <% end %>
            <% else %>
              Error, No Sku Present
            <% end %>
          </td>
          <td> <!-- Model # -->
            <% if i.is_product %>
              <% if i.product.present? %>
                <%= link_to i.product.manufacturer_model_number, product_path(id: i.product), method: :get %>
              <% else %>
              <% end %>
            <% elsif i.is_part %>
              <% if i.part.present? %>
                <%= link_to i.part.manufacturer_model_number, part_path(id: i.part), method: :get %>
              <% else %>
              <% end %>
            <% else %>
              Error, No Sku Present
            <% end %>
          </td>
          <td> <!-- Description -->
            <% if i.is_product %>
              <% if i.product.present? %>
                <%= i.product.description %>
              <% else %>
                Product no longer exists
              <% end %>
            <% elsif i.is_part %>
              <% if i.part.present? %>
                <%= i.part.description %>
              <% else %>
                Part no longer exists
              <% end %>
            <% else %>
              Error, No Sku Present
            <% end %>
          </td>
          <td class="quantities"> <!-- Adjustment Quantity -->
            <% if i.adjust_quantity.present? %>
              <%= i.adjust_quantity_plus %>
            <% else %>
              None Indicated
            <% end %>
          </td>
          <td class="quantities"> <!-- New Quantity -->
            <% if i.quantity.present? %>
              <%= i.quantity %>
            <% else %>
              None Indicated
            <% end %>
          </td>
          <td><%= i.stockmovement_batch.stockmovement_type %></td> <!-- Adjustment Type -->
          <td><%= i.stockmovement_batch.user.header_name %></td> <!-- Created By -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>