<div class="adjustHistoryTable">
  <div class="info"></div>
  <table id="adjustHistoryDataTable" class="display" style="width: 100%;">
    <thead>
      <tr>
        <th id="detailsDblClick"><div style="width: 10px"></div></th>
        <th><div style="width: 200px">Date</div></th>
        <th><div style="width: 150px">Adjustment Type</div></th>
        <th><div style="width: 100px">Created By</div></th>
        <th></th> <!-- Blank column for nested dropdown data to add search ability -->
      </tr>
    </thead>
    <tbody class="adjust-history-table">
      <% @stockmovement_batches.each do |i| %>
        <tr
          data-child-type="<% i.stockmovements.each do |s| %>
                             <% if s.is_product %>
                               <p>Product</p>
                             <% elsif s.is_part %>
                               <p>Part</p>
                              <% end %>
                           <% end %>"
          data-child-model="<% i.stockmovements.each do |s| %>
                              <% if s.is_product %>
                                <% if s.product.present? %>
                                  &lt;p&gt;&lt;a href=&quot;/products/<%= s.product_id %>&quot;&gt;<%= s.product.manufacturer_model_number %>&lt;/a&gt;&lt;/p&gt;
                                <% else %>
                                  <p></p>
                                <% end %>
                              <% elsif s.is_part %>
                                <% if s.part.present? %>
                                  &lt;p&gt;&lt;a href=&quot;/parts/<%= s.part_id %>&quot;&gt;<%= s.part.manufacturer_model_number %>&lt;/a&gt;&lt;/p&gt;
                                <% else %>
                                  <p></p>
                                <% end %>
                              <% else %>
                                <p>No Sku's Present</p>
                              <% end %>
                            <% end %>"
          data-child-description="<% i.stockmovements.each do |s| %>
                                    <% if s.is_product %>
                                      <% if s.product.present? %>
                                        <p><%= s.product.description %></p>
                                      <% else %>
                                        <p>Product no longer exists</p>
                                      <% end %>
                                    <% elsif s.is_part %>
                                      <% if s.part.present? %>
                                        <p><%= s.part.description %></p>
                                      <% else %>
                                        <p>Part no longer exists</p>
                                      <% end %>
                                    <% else %>
                                      <p>No Sku's Present</p>
                                    <% end %>
                                  <% end %>"
          data-child-adjust_quantity="<% i.stockmovements.each do |aq| %>
                                        <p class='quantities'><%= aq.adjust_quantity_plus %></p>
                                      <% end %>"
          data-child-new_quantity="<% i.stockmovements.each do |q| %>
                                      <p class='quantities'><%= q.quantity %></p>
                                    <% end %>"
          data-child-undo_header="<% if current_user.admin? %>
                                    <td>Undo Entry</td>
                                  <% end %>"
          data-child-undo="<% if current_user.admin? %>
                             <td>
                               <% i.stockmovements.each do |u| %>
                                 <p class='deleteStockmovement bootbox-confirm' id='<%= u.id %>'>Undo</p>
                               <% end %>
                             </td>
                           <% end %>"
          data-child-notes="<% if i.notes.present? %>
                              <%= i.notes %>
                            <% else %>
                              <p>No Notes</p>
                            <% end %>">
          <td class="details-control"></td>
          <td><%= i.created_at.strftime('%Y-%m-%d (%R)') %></td>
          <td><%= i.stockmovement_type %></td>
          <td>
            <%= i.user.header_name %>
            <% i.stockmovements.each do |u| %>
              <%= link_to u.id, u, :method => :delete, class: 'hidden stockmovementDelete', :id => u.id %>
            <% end %>
          </td>
          <td> <!-- Hidden field to give table search ability to Expando columns -->
            <% i.stockmovements.each do |s| %>
              <% if s.is_product %>
                Product
              <% elsif s.is_part %>
                Part
              <% end %>
            <% end %> | 
            <% i.stockmovements.each do |s| %>
              <% if s.is_product %>
                <% if s.product.present? %>
                  <%= s.product.manufacturer_model_number %>
                <% end %>
              <% elsif s.is_part %>
                <% if s.part.present? %>
                  <%= s.part.manufacturer_model_number %>
                <% end %>
              <% end %>
            <% end %> | 
            <% i.stockmovements.each do |s| %>
              <% if s.is_product %>
                <% if s.product.present? %>
                  <%= s.product.description %>
                <% end %>
              <% elsif s.is_part %>
                <% if s.part.present? %>
                  <%= s.part.description %>
                <% end %>
              <% end %>
            <% end %> | 
            <% i.stockmovements.each do |aq| %>
              <% if aq.adjust_quantity.present? %>
                <%= aq.adjust_quantity_plus %>
              <% end %>
            <% end %> | 
            <% i.stockmovements.each do |q| %>
              <% if q.quantity.present? %>
                <%= q.quantity %>
              <% end %>
            <% end %> | 
            <% if i.notes.present? %><%= i.notes %><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

