<div class="adjustHistoryTable">
  <div class="info"></div>
  <table id="adjustHistoryDataTable" class="display" style="width: 100%;">
    <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Adjustment Type</th>
        <th>Created By</th>
        <th>Notes</th>
        <th></th> <!-- Blank column for nested dropdown data to add search ability -->
      </tr>
    </thead>
    <tbody class="adjust-history-table">
      <% @stockmovement_batches.last(25).each do |i| %>
        <tr
          data-child-undo_header="<% if current_user.admin? %>
                                    <th>Undo Entry</th>
                                  <% end %>"
         data-child-body="<% i.stockmovements.each do |s| %>
                            <tr>
                              <% if s.is_product %>
                                <td>Product</td>
                              <% elsif s.is_part %>
                                <td>Part</td>
                              <% end %>
                              <% if s.is_product %>
                                <% if s.product.present? %>
                                  &lt;td&gt;&lt;a href=&quot;/products/<%= s.product.slug %>&quot;&gt;<%= s.product.manufacturer_model_number %>&lt;/a&gt;&lt;/td&gt;
                                <% else %>
                                  <td></td>
                                <% end %>
                              <% elsif s.is_part %>
                                <% if s.part.present? %>
                                  &lt;td&gt;&lt;a href=&quot;/parts/<%= s.part.slug %>&quot;&gt;<%= s.part.manufacturer_model_number %>&lt;/a&gt;&lt;/td&gt;
                                <% else %>
                                  <td></td>
                                <% end %>
                              <% else %>
                                <td>No Sku's Present</td>
                              <% end %>
                              <% if s.is_product %>
                                <% if s.product.present? %>
                                  <td><%= s.product.description %></td>
                                <% else %>
                                  <td>Product no longer exists</td>
                                <% end %>
                              <% elsif s.is_part %>
                                <% if s.part.present? %>
                                  <td><%= s.part.description %></td>
                                <% else %>
                                  <td>Part no longer exists</td>
                                <% end %>
                              <% else %>
                                <td>No Sku's Present</td>
                              <% end %>
                              <td><%= s.adjust_quantity_plus %></td>
                              <td><%= s.quantity %></td>
                              <% if current_user.admin? %>
                                <td class='deleteStockmovement bootbox-confirm' id='<%= s.id %>'>Undo</td>
                              <% end %>
                            </tr>
                          <% end %>">
          <td class="details-control"></td>
          <td><%= link_to i.created_at.strftime("%Y-%m-%d (%R)"), stockmovement_batch_path(id: i), method: :get, title: "View Batch Details (ID: #{i.id})" %></td>
          <td><%= i.stockmovement_type %></td>
          <td>
            <%= i.user.header_name %>
            <% i.stockmovements.each do |delete| %> <!-- Delete function is hidden in this column, but is triggered by the 'Undo' button in the details dropdown -->
              <%= link_to delete.id, delete, :method => :delete, class: 'hidden stockmovementDelete', :id => delete.id if current_user.admin? %>
            <% end %>
          </td>
          <td>
            <% if i.notes.present? %>
              <%= i.notes %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td> <!-- Hidden field to give table search ability to Expando columns -->
            <% i.stockmovements.each do |s| %>
              <% if s.is_product %>
                Product
              <% elsif s.is_part %>
                Part
              <% end %>
            <% end %> | 
            <% i.stockmovements.each do |s| %>
              <% if s.is_product %>
                <% if s.product.present? %>
                  <%= s.product.manufacturer_model_number %>
                <% end %>
              <% elsif s.is_part %>
                <% if s.part.present? %>
                  <%= s.part.manufacturer_model_number %>
                <% end %>
              <% end %>
            <% end %> | 
            <% i.stockmovements.each do |s| %>
              <% if s.is_product %>
                <% if s.product.present? %>
                  <%= s.product.description %>
                <% end %>
              <% elsif s.is_part %>
                <% if s.part.present? %>
                  <%= s.part.description %>
                <% end %>
              <% end %>
            <% end %> | 
            <% i.stockmovements.each do |aq| %>
              <% if aq.adjust_quantity.present? %>
                <%= aq.adjust_quantity_plus %>
              <% end %>
            <% end %> | 
            <% i.stockmovements.each do |q| %>
              <% if q.quantity.present? %>
                <%= q.quantity %>
              <% end %>
            <% end %> | 
            <% if i.notes.present? %><%= i.notes %><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

