<div class="productUploadsTable">
  <table id="productUploadsDataTable" class="display" style="width:100%;">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Description</th>
        <th>File Name</th>
        <th>File Type</th>
        <th>Original File Size</th>
        <th>Created At</th>
        <th>Last Modified At</th>
      </tr>
    </thead>
    <tbody class="product-uploads-table">
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to product.product_select_with_model, product_path(product), method: :get, title: "View Product Details (ID: #{product.id})" %></td>
          <td>
            <p><%= link_to product.image.original_filename.upcase, product.image.url, target: "_blank", title: "View Full Size Image", :style => "color:#0f9e2f;" %></p>
            <p><%= link_to "(medium)", product.image.url(:medium), target: "_blank", title: "View Medium Size Image", :style => "color:#f2990f;" %> -- <%= link_to "(small)", product.image.url(:thumb), target: "_blank", title: "View Small Size Image", :style => "color:#5488CF;" %> -- <%= link_to "(x-small)", product.image.url(:xsmall), target: "_blank", title: "View Extra Small Size Image", :style => "color:#CD0BFF;" %></p>
          </td>
          <td><%= product.image_content_type.upcase %></td>
          <td><%= number_to_human_size(product.image_file_size, precision: 2) %></td>
          <td><%= product.created_at.strftime('%F') %></td>
          <td><%= product.updated_at.strftime('%F') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>