<div class="productUploadsTable">
  <table id="productUploadsDataTable" class="display" style="width:100%;">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Description</th>
        <th>File Name</th>
        <th>File Type</th>
        <th>Original File Size</th>
        <th>Created At</th>
        <th>Last Modified At</th>
      </tr>
    </thead>
    <tbody class="product-uploads-table">
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to product.product_select, product_path(product), method: :get, title: "View Product Details (ID: #{product.id})" %></td>
          <td><%= link_to product.image.original_filename, product.image.url, target: "_blank", title: "View Full Size Image" %></td>
          <td><%= product.image_content_type.upcase %></td>
          <td><%= number_to_human_size(product.image_file_size, precision: 2) %></td>
          <td><%= product.created_at.strftime('%F') %></td>
          <td><%= product.updated_at.strftime('%F') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>