<div class="uploadsTable">
  <table id="uploadsDataTable" class="display" style="width:100%">
    <thead>
      <tr>
        <th style="width:5px;"><p style="display:none;">Details</p></th> <!-- hacky way to get the word "Details" to show up in the Colvis buttons dropdown -->
        <th>Upload ID</th>
        <th>File Name</th>
        <th>Description</th>
        <th>File Size</th>
        <th>File Type</th>
        <th>Uploaded By</th>
        <th>Comments</th>
        <th>Upload Date</th>
        <th>Delete File</th>
      </tr>
    </thead>
    <tbody class="uploads-table">
      <% @uploads.each do |upload| %>
        <tr data-child-attributes="
          <tbody>
            <tr class='no-table'>
              <td class='zero-pad'>
                <% if upload.products.present? %>
                  <table class='clear defaultExpandoInnerTable'>
                    <tbody>
                      <% upload.products.each do |product| %>
                        <tr>
                          <td><a title='View Product Details (ID: <%= product.id %>)' data-method='get' href='/products/<%= product.slug %>'><%= product.product_select_with_model %></a></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  No Associations Found
                <% end %>
              </td>
              <td class='zero-pad'>
                <% if upload.parts.present? %>
                  <table class='clear defaultExpandoInnerTable'>
                    <tbody>
                      <% upload.parts.each do |part| %>
                        <tr>
                          <td><a title='View Part Details (ID: <%= part.id %>)' data-method='get' href='/parts/<%= part.slug %>'><%= part.part_select_with_model %></a></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <p style='padding:8px 10px 8px 10px;'>No Associations Found</p>
                <% end %>
              </td>
              <td class='zero-pad'>
                <% if upload.tasks.present? %>
                  <table class='clear defaultExpandoInnerTable'>
                    <tbody>
                      <% upload.tasks.each do |task| %>
                        <tr>
                          <td><a title='View Task Details (ID: <%= task.id %>)' data-method='get' href='/tasks/<%= task.id %>'><%= task.name %></a></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% else %>
                  <p style='padding:8px 10px 8px 10px;'>No Associations Found</p>
                <% end %>
              </td>
              <td class='zero-pad'>
                <% if upload.upload_batch.present? %>
                  <a title='View Batch Details (ID: <%= upload.upload_batch.id %>)' data-method='get' href='/upload_batches/<%= upload.upload_batch.id %>'><%= upload.upload_batch.created_at.strftime("%F (%T)") %></a>
                <% else %>
                  No Association Found
                <% end %>
              </td>
            </tr>
          </tbody>">
          <td class="details-control"></td>
          <td><%= upload.id %></td>
          <td><%= link_to upload.file_file_name, upload.file.url(:original, false), target: "_blank" %></td>
          <td style="padding:0;"><%= best_in_place upload, :description, class: "form-control", inner_class: "input-small input-width" %></td>
          <td><%= number_to_human_size(upload.file_file_size, precision: 2) %></td>
          <td><%= upload.file_content_type.upcase if upload.file_content_type.present? %></td>
          <td><%= upload.user.header_name if upload.user.present? %></td>
          <td>
            <% if upload.comments.present? %>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#uploadCommentsModal-<%= upload.id %>">View File Comments</button>
              <!-- Modal -->
              <div class="modal fade" id="uploadCommentsModal-<%= upload.id %>" tabindex="-1" role="dialog" aria-labelledby="uploadCommentsModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="uploadCommentsModalLongTitle"><%= upload.file_file_name if upload.file_file_name.present? %> (Comments)</h4>
                    </div>
                    <div class="modal-body">
                      <table class="table">
                        <% upload.comments.each do |comment| %>
                          <tr class="modal-tr">
                            <td><%= comment.content %></td>
                          <tr>
                        <% end %>
                        </tr>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
            <% end %>

          </td>
          <td><%= upload.created_at.strftime('%F') %></td>
          <td>
            <%= link_to "(X)", upload, :method => :delete, class: 'hidden uploadDelete', :id => upload.id %>
            <p class='deleteUpload bootbox-confirm' id='<%= upload.id %>'>X</p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>