<div class="uploadsTable">
  <table id="uploadsDataTable" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Upload ID</th>
        <th>File Name</th>
        <th>Description</th>
        <th>File Size</th>
        <th>File Type</th>
        <th>Association</th>
        <th>Uploaded By</th>
        <th>Created At</th>
        <th>Last Modified At</th>
      </tr>
    </thead>
    <tbody class="uploads-table">
      <% @uploads.each do |upload| %>
        <tr>
          <td><%= upload.id %></td>
          <td><%= link_to upload.file_file_name, upload.file.url(:original, false), target: "_blank" %></td>
          <td><%= upload.description %></td>
          <td><%= number_to_human_size(upload.file_file_size, precision: 2) %></td>
          <td><%= upload.file_content_type.upcase %></td>
          <td>
            <%= link_to upload.product.product_select, product_path(id: upload.product), method: :get, title: "View Product Details (ID: #{upload.product_id})" if upload.product_id? %>
            <%= link_to upload.part.part_select, part_path(id: upload.part), method: :get, title: "View Part Details (ID: #{upload.part_id})" if upload.part_id? %>
          </td>
          <td><%= upload.user.header_name %></td>
          <td><%= upload.created_at.strftime('%F') %></td>
          <td><%= upload.updated_at.strftime('%F') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>