<div id="show-product-wrapper">
  <div class="show-image">
    <% if @product.image.present? %>
      <%= link_to (image_tag (@product.image.url (:medium))), @product.image.url, target: "_blank", title: "View Full Size Image" %>
    <% else %>
      <p style="margin: 10px;">No Image Attached</p>
    <% end %>
  </div>
  <table class="table table-bordered" id="showProductNotes">
    <thead></thead>
    <tbody>
      <tr>
        <td class="show-product-details">Notes</td>
      </tr>
      <tr>
        <td>
          <%= best_in_place @product, :notes, :as => :textarea, inner_class: "form-control input-resize", place_holder: "No notes present, click here to edit" %>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered" id="showProductExtras">
    <thead></thead>
    <tbody>
      <tr>
        <td class="show-product-details" colspan="2">Additional Attributes</td>
      </tr>
      <% if @product.details.present? %>
        <% @product.details.try(:each) do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan="2" style="text-align:center;">No Attributes Present</td></tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-bordered" id="showProductExtras"> <!-- Show Product Uploads -->
    <thead></thead>
    <tbody>
      <tr>
        <td class="show-product-details" colspan="2">Associated Files</td>
      </tr>
      <% if @product.uploads.present? %>
        <% @product.uploads.each do |f| %>
          <tr>
            <td><%= link_to f.file_file_name, f.file.url(:original, false), target: "_blank", title: "File Size: #{number_to_human_size(f.file_file_size, precision: 2)}" %></td>
            <td>
              <% if f.description.present? %>
                <%= f.description %>
              <% else %>
                No Description
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
          <tr><td style="text-align:center;border-right:2px solid orange;">No Files Found</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
<table class="table table-bordered" id="showProductTable">
  <thead></thead>
  <tbody>
    <% if admin_or_employee? %>
      <tr>
        <td colspan="2">
          <%= link_to "Edit This Product", edit_product_path(id: @product), method: :get, class: 'btn btn-sm' %>
        </td>
      </tr>
    <% end %>
    <tr class=<%= "firstRowFix" if !current_user.admin? or !current_user.has_role? :employee %>>
      <td>Manufacturer</td>
      <td>
        <% if @product.vendor_name.present? %>
          <%= @product.vendor_name %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>MFR Model #</td>
      <td>
        <% if @product.manufacturer_model_number.present? %>
          <%= @product.manufacturer_model_number %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>UPC #</td>
      <td>
        <% if @product.upc.present? %>
          <%= @product.upc %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Brand Name</td>
      <td>
        <% if @product.brand_name.present? %>
          <%= @product.brand_name %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>SRS SKU</td>
      <td>
        <% if @product.srs_sku.present? %>
          <%= @product.srs_sku %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        <% if @product.location.present? %>
          <%= @product.location %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <% if @product.description.present? %>
          <%= @product.description %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Qty On Hand</td>
      <td><%= @product.quantity_on_hand %></td>
    </tr>    
    <tr>
      <td>Qty Last Modified</td>
      <td><%= @product.qty_last_updated %></td>
    </tr>
    <tr>
      <td>Weight</td>
      <td><%= @product.product_weight %></td>
    </tr>
    <tr>
      <td>Product Dimensions</td>
      <td>
        <%= @product.product_dims_l %>"x<%= @product.product_dims_w %>"x<%= @product.product_dims_h %>"
      </td>
    </tr>
    <tr>
      <td>Packaged Dimensions</td>
      <td>
        <%= @product.packaged_dims_l %>"x<%= @product.packaged_dims_w %>"x<%= @product.packaged_dims_h.to_f %>"
      </td>
    </tr>
    <tr>
      <td>Vendor Cost</td>
      <td>
        <% if @product.vendor_cost >= 0.01 %>
          $<%= @product.vendor_cost %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Retail Cost</td>
      <td>
        <% if @product.retail_cost >= 0.01 %>
          $<%= @product.retail_cost %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Shipping Cost</td>
      <td>
        <% if @product.shipping_cost >= 0.01 %>
          $<%= @product.shipping_cost %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Store Orderable?</td>
      <td>
        <% if @product.store_orderable? %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Warranty Orderable?</td>
      <td>
        <% if @product.warranty_orderable? %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>E-Commerce SKU?</td>
      <td>
        <% if @product.ecomm_sku? %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Active?</td>
      <td>
        <% if @product.active? %>
          Yes
        <% else %>
          No
        <% end %>
        </td>
    </tr>
    <tr>
      <td>Product Creation Date</td>
      <td><%= @product.created_at.strftime('%B %d, %Y') %></td>
    </tr>
    <tr>
      <td>Product Last Modified</td>
      <td><%= @product.updated_at.strftime('%B %d, %Y') %></td>
    </tr>
  </tbody>
</table>