<% @title = "SRS Portal | Edit Product" %>
<div class="defaultDiv" id="editProductDiv">
  <p class="defaultDivHeader">Edit Product Information</p>
  <div class="container defaultForm">
    <%= bootstrap_form_for @product, url: product_path, method: :patch, :html => { :multipart => true } do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %> <!-- if @product.errors.any? -->
      <ul class="nav nav-tabs">
        <li class="active"><a id="editProductForm" href="#edit-product-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> Edit Product Details</a></li>
        <!--<li><a id="editProductUploads" href="#edit-product-uploads" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Edit Associated Files</a></li>-->
        <!--<li><a id="editPartsForm" href="#edit-parts-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> Edit Associated Parts</a></li>-->
      </ul>
      <div class="defaultTabs">
        <div class="tab-content">
          <div id="edit-product-form" class="tab-pane fade in active container">
            <br/><%= render "form", :f => f %>
          </div>
          <!--<div id="edit-product-uploads" class="tab-pane fade"><br/>-->
          <!--  <p><%#= add_child_link " Add File", :uploads %></p>-->
          <!--  <%#= new_child_fields_template f, :uploads %>-->
          <!--</div>-->
          <!--<div id="edit-part-form" class="tab-pane fade">-->
          <!--  <p><%#= add_child_link " Add Part", :parts %></p>-->
          <!--  <%#= new_child_fields_template f, :parts %>-->
          <!--</div>-->
        </div>
      </div>
      <%= f.submit "Update Product", :style => "float:right;" %>
    <% end %>
    <%= button_to "Delete This Product", product_path(:id => params[:id]), :method => :delete, data: {:confirm => 'Are you sure you want to delete this product?'}, class: 'btn btn-sm btn-danger delete-button' %>
  </div>
</div>