<% @title = "SRS Portal | Product List" %>
<div class="defaultDiv" id="productListDiv">
  <p class="defaultDivHeader">Products List</p>
  <div class="productsTable">
    <table id="productsDataTable" class="display" style="width:100%">
      <thead>
        <tr>
          <th style="width:5px;"><p style="display:none;">Details</p></th> <!-- the <p> is a hacky way to get "Details" to show up in the Colvis buttons dropdown -->
          <th>Image</th>
          <th>Brand Name</th>
          <th>MFR Model #</th>
          <th>Description</th>
          <th>Qty On Hand</th>
          <th>Qty Last Modified</th>
          <th>Max Quantity</th>
          <th>Request Quantity</th>
          <th>Weight</th>
          <th>Dimensions</th>
          <th>Pricing</th>
          <th>Additional Notes</th>
          <th></th>
          <% if current_user.admin? %>
            <th>Has Parts?</th>
            <th>Active?</th>
            <th>Store Orderable?</th>
            <th>Warranty Orderable?</th>
            <th>E-Commerce SKU?</th>
            <th>In Stock?</th>
          <% end %>
        </tr>
      </thead>
      <div class="productTableChildren"
        data-child-user_check=''
        data-child-brand_names='<% if admin_or_employee? %>
                                  <li>
                                    <div class="button-group brandFilter">
                                      <button type="button" class="btn header-btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench" aria-hidden="true"></i> Brand <span class="caret"></span></button>
                                      <ul class="dropdown-menu productsBrandFilterMenu">
                                        <% @brand.each do |brand| %>
                                          <li class="selected"><label><input type="checkbox" checked name="brand" value="<%= brand %>"/>&nbsp;<%= brand %></label></li>
                                        <% end %>
                                      </ul>
                                    </div>
                                  </li>
                                <% end %>'
        data-child-variables='<% if admin_or_employee? %>
                              <li>
                                <div class="button-group booleanFilter">
                                  <button type="button" class="btn header-btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench" aria-hidden="true"></i> Variables <span class="caret"></span></button>
                                  <ul class="dropdown-menu booleanFilterMenu">
                                    <li class="selected"><label class="nil"><input type="checkbox" checked name="boolean" def="active" bool="" value="Active"/>&nbsp;Active</label><button id="activeClear" class="btn" disabled>Clear Filter</button></li>
                                    <li class="selected"><label class="nil"><input type="checkbox" checked name="boolean" def="storeOrderable" bool="" value="Store Orderable"/>&nbsp;Store Orderable</label><button id="storeOrderableClear" class="btn" disabled>Clear Filter</button></li>
                                    <li class="selected"><label class="nil"><input type="checkbox" checked name="boolean" def="warrantyOrderable" bool="" value="Warranty Orderable"/>&nbsp;Warranty Orderable</label><button id="warrantyOrderableClear" class="btn" disabled>Clear Filter</button></li>
                                    <li class="selected"><label class="nil"><input type="checkbox" checked name="boolean" def="ecommSku" bool="" value="E-Commerce SKU"/>&nbsp;E-Commerce SKU</label><button id="ecommSkuClear" class="btn" disabled>Clear Filter</button></li>
                                    <li class="selected"><label class="nil"><input type="checkbox" checked name="boolean" def="inStock" bool="" value="In Stock"/>&nbsp;In Stock</label><button id="inStockClear" class="btn" disabled>Clear Filter</button></li>
                                    <li class="selected"><label class="nil"><input type="checkbox" checked name="boolean" def="hasParts" bool="" value="Has Parts"/>&nbsp;Has Parts</label><button id="hasPartsClear" class="btn" disabled>Clear Filter</button></li>
                                  </ul>
                                </div>
                              </li>
                            <% end %>'
        data-child-columns='<% if current_user.admin? %>[7,8,10,11,13,14,15,16,17,18,19]<% else %>[7,8,10,11,13]<% end %>'> <!-- Used in the dataTable "columnDefs" for visible targets -->
        
      </div>
      <!--<div class="productTableChildren"--><!-- Temporarily Disabled -->
      <!--  data-child-user_check="<%# if current_user.admin? or current_user.has_role? :employee %>-->
      <!--                           <li>-->
      <!--                             <form class='button_to' method='get' action='/products/new'>-->
      <!--                               <input class='btn' type='submit' value='Create New Product'>-->
      <!--                             </form>-->
      <!--                           </li>-->
      <!--                           <li style='margin-left:10px;'>-->
      <!--                             <form class='button_to' method='get' action='/parts/new'>-->
      <!--                               <input class='btn' type='submit' value='Create New Part'>-->
      <!--                             </form>-->
      <!--                           </li>-->
      <!--                         <%# end %>"></div>-->
      <tbody class="product-table">
        <% @products.each do |product| %>
          <!-- all deleted data-child-attributes for dropdown are found in the "temporary_tr_for_index.html.erb" file -->
          <tr
            data-child-manufacturer="<%= product.vendor_name if product.vendor_name.present? %><%= "N/A" if product.vendor_name.blank? %>"
            data-child-upc="<%= product.upc if product.upc.present? %><%= "N/A" if product.upc.blank? %>"
            data-child-srs_sku="<%= product.srs_sku if product.srs_sku.present? %><%= "N/A" if product.srs_sku.blank? %>">
            <td class="details-control"></td>
            <td>
              <%= link_to (image_tag (product.image.url (:thumb))), product.image.url, target: "_blank", title: "View Full Size Image" if product.image.exists? %>
              <%= "No Image Available" if product.image.blank? %>
            </td>
            <td>
              <%= product.brand_name if product.brand_name.present? %>
              <%= "N/A" if product.brand_name.blank? %>
            </td>
            <td>
              <%= link_to product.manufacturer_model_number, product_path(id: product), method: :get, title: "View Product Details (ID: #{product.id})" if product.manufacturer_model_number.present? %>
              <%= link_to "N/A", product_path(id: product), method: :get, title: "View Product Details (ID: #{product.id})" if product.manufacturer_model_number.blank? %>
            </td>
            <td>
              <%= product.description if product.description.present? %>
              <%= "N/A" if product.description.blank? %>
            </td>
            <td class="quantities"><%= product.quantity_on_hand %></td>
            <td><%= product.qty_last_updated %></td>
            <td><%= product.max_quantity %></td>
            <td><%= product.request_quantity %></td>
            <td><%= product.product_weight %></td>
            <td>
              <p>Product: <%= product.product_dims_l %>"x<%= product.product_dims_w %>"x<%= product.product_dims_h %>"</p>
              <p>Packaged: <%= product.packaged_dims_l %>"x<%= product.packaged_dims_w %>"x<%= product.packaged_dims_h %>"</p>
            </td>
            <td>
              <p>Vendor Cost: <%= "$" + number_with_precision(product.vendor_cost, precision: 2) if product.vendor_cost >= 0.01 %>
              <%= "N/A" if product.vendor_cost < 0.01 %></p>
              <p>Retail Cost: <%= "$" + number_with_precision(product.retail_cost, precision: 2) if product.retail_cost >= 0.01 %>
              <%= "N/A" if product.retail_cost < 0.01 %></p>
              <p>Shipping Cost: <%= "$" + number_with_precision(product.shipping_cost, precision: 2) if product.shipping_cost >= 0.01 %>
              <%= "N/A" if product.shipping_cost < 0.01 %></p>
            </td>
            <td>
              <p><%= simple_format product.notes if product.notes.present? %><%= "N/A" if product.notes.blank? %></p>
              <%= link_to "Edit This Product", edit_product_path(id: product), method: :get, class: 'btn btn-sm' if admin_or_employee? %></p>
            </td>
            <td class="noVis">  <!-- Hidden field to add table search ability to Expando -->
              <% if product.parts.exists? %><% product.parts.each do |part| %>
              <%= part.manufacturer_model_number %> | <%= part.description %> | <% end %><% end %> | 
              <%= product.vendor_name %> | <%= product.upc %> | <%= product.srs_sku %> | 
              <% if product.details.present? %><% product.details.try(:each) do |key, value| %><%= key %> : <%= value %> | <% end %><% end %>
              <% if product.uploads.present? %><% product.uploads.each do |upload| %><%= upload.file_file_name %> | <%= upload.description %> | <% end %><% end %>
              <% if product.combo_items.present? %><% product.combo_items.each do |combo| %><%= combo.model_number %> | <%= combo.description %> | <% end %><% end %>
            </td>
            <% if current_user.admin? %>
              <td><%= "true" if product.parts.exists? %><%= "false" if !product.parts.exists? %></td>
              <td><%= product.active %></td>
              <td><%= product.store_orderable %></td>
              <td><%= product.warranty_orderable %></td>
              <td><%= product.ecomm_sku %></td>
              <td><%= "true" if product.quantity_on_hand > 0 %><%= "false" if product.quantity_on_hand < 1%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>