<% @title = "SRS Portal | Create New Product" %>
<div style="width: 60%;" id="newProductDiv">
  <p class="newProductHeader">Create New Product</p>
  <div class="form-inline newProductForm">
    <%= form_for @product, url: products_path, method: :post, :html => { :multipart => true } do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %> <!-- if @item.errors.any? -->
      <ul class="nav nav-tabs">
        <li class="active"><a id="newProductForm" href="#new-product-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> Product Details</a></li>
        <!--<li><a id="newProductUploads" href="#new-product-uploads" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Associated Files</a></li>-->
        <!--<li><a id="newPartForm" href="#new-part-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> Associated Parts</a></li>-->
      </ul>
      <div id="newProductTabs">
        <div class="tab-content">
          <div id="new-product-form" class="tab-pane fade in active">
            <br/><%= render "form", :f => f %>
          </div>
          <!--<div id="new-product-uploads" class="tab-pane fade"><br/>-->
          <!--  <p><%#= add_child_link " Add File", :uploads %></p>-->
          <!--  <%#= new_child_fields_template f, :uploads %>-->
          <!--</div>-->
          <!--<div id="new-part-form" class="tab-pane fade">-->
          <!--  <p><%#= add_child_link " Add Part", :parts %></p>-->
          <!--  <%#= new_child_fields_template f, :parts %>-->
          <!--</div>-->
        </div>
      </div>
      <div class="form-group form-group-sm">
        <div class="col-sm-12">
          <%= f.submit "Create Product", class: 'btn btn-primary', :style => "float:right;" %>
        </div>
      </div>
    <% end %>
  </div>
</div>