<% @title = "SRS Portal | #{@product.model_select}" %>
<div class="defaultDiv" id="showProductDiv">
  <p class="defaultDivHeader">
    <span class="show-product-brand-name" title="Product ID: <%= @product.id %>"><%= @product.brand_name %></span></br>
    <span class="show-product-description"><%= @product.manufacturer_model_number %> | <%= @product.description %></span>
  </p>
  <div class="container defaultForm">
    <ul class="nav nav-tabs">
      <li class="active"><a id="showProductForm" href="#show-product-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> Product Information</a></li>
      <li><a id="showPartForm" href="#show-product-part-form" class="tab-background <%= "details-highlight" if @product.has_parts? %>" data-toggle="tab"><i class="fa fa-user"></i> Associated Parts</a></li>
      <li><a id="showProductMovementHistory" href="#show-product-movement-history" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Inventory History</a></li>
      <!--<li><a id="showProductRecentOrders" href="#show-product-recent-orders" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Recent Orders</a></li>-->
    </ul>
    
    <div class="defaultTabs">
      <div class="tab-content">
        <div id="show-product-form" class="tab-pane fade in active container">
          <%= render "show_product_form" %>
        </div>
        <div id="show-product-part-form" class="tab-pane fade container">
          <%= render "show_part_form" %>
        </div>
        <div id="show-product-movement-history" class="tab-pane fade container">
          <%= render "show_movement_history" %>
        </div>
        <!--<div id="show-product-recent-orders" class="tab-pane fade container">-->
        <!--  <%#= render "show_recent_orders" %>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>