<!DOCTYPE html>
<html>
  <head>
    <% if development? %>
      <style type="text/css"> 
          body {              
           background-color: #122648 !important;
          }
      </style>
      <% @devmode = "// DEVELOPMENT" %>
      <% @title = "DEVELOPMENT" %>
    <% end %> <!-- Sets background color to silver only while in Development.  Production generates usual textured blue background -->
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <title><%= @title || "SRS Portal 2018" %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :js %>
    <link href="//fonts.googleapis.com/css?family=Alegreya+Sans:100|Quicksand:400,700|Abel" rel="stylesheet">
    <%= yield (:head) %>
  </head>
  <body>
    <% if user_signed_in? %>
      <!--Top Navigation -->
      <nav class="navbar navbar-default navbar-static-top navbar-bg" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <%= link_to authenticated_root_path, class: "navbar-brand navbar-sitelink" do %>
              Strategic Retail Solutions
            <% end %>
            <span class="navbar-brand navbar-user">//&nbsp;&nbsp;<%= @current_user.header_name %></span>
            <span class="navbar-brand navbar-devmode"><%= @devmode %></span>
            <!--<span class="turbolinks-progress-bar"></span>-->
            <span class="navbar-brand navbar-animated navbar-fade navbar-notice"><%= notice %></span>
          </div>
          <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "<i class='fa fa-sign-out'></i> Sign Out".html_safe, destroy_user_session_path, method: :delete, class: 'navbar-btn signOutButton' %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
  <!--Sidebar Navigation-->
      <nav class="nav-side-menu">
        <% if current_user.admin? %>
          <div class="brand no-select">Admin Portal</div>
        <% elsif current_user.has_role? :employee %>
          <div class="brand no-select">Employee Portal</div>
        <% else %>
          <div class="brand no-select">Vendor Portal</div>
        <% end %>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
            <%= link_to user_path(id: current_user.id), method: :get do %>
              <li><i class="fa fa-user-circle-o fa-lg"></i> My Dashboard</li>
            <% end %>
            <% if current_user.admin? and development? %>
              <%= link_to new_assignment_path, method: :get do %>
                <li><i class="fa fa-thumb-tack fa-lg"></i> New Assignment</li>
              <% end %>
            <% else %>
              <%= link_to new_assignment_path, method: :get do %>
                <li><i class="fa fa-thumb-tack fa-lg"></i> Bug Report</li>
              <% end %>
            <% end %>
            <!--<li data-toggle="collapse" data-target="#tasks" class="collapsed">-->
            <!--  <a data-target="#"><i class="fa fa-tasks fa-lg"></i> Tasks<span class="arrow"></span></a>-->
            <!--</li>-->
            <!--<ul class="sub-menu collapse" id="tasks">-->
            <!--  <li>Create New Task</li>-->
            <!--  <li>Customer & Store Orders</li>-->
            <!--  <li>Vendor Uploads</li>-->
            <!--</ul>-->
            <% if admin_or_employee? %>
              <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a data-target="#"><i class="fa fa-shopping-bag fa-lg"></i> Items<span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="products">
                <%= link_to products_path do %>
                  <li>All Products</li>
                <% end %>
                <%= link_to parts_path do %>
                  <li>All Parts</li>
                <% end %>
                <%= link_to combo_items_path do %>
                  <li>All Combo Items</li>
                <% end %>
                <%= link_to new_product_path, method: :get do %>
                  <li>Create New Product</li>
                <% end %>
                <%= link_to new_part_path, method: :get do %>
                  <li>Create New Part</li>
                <% end %>
                <%= link_to new_combo_item_path, method: :get do %>
                  <li>Create New Combo Item</li>
                <% end %>
                <% if current_user.admin? %>
                  <%= link_to batch_process_path, method: :get do %>
                    <li>Batch Process Products</li>
                  <% end %>
                <% end %>
              </ul>
            <% else %>
              <%= link_to products_path do %>
                <li><i class="fa fa-shopping-bag fa-lg"></i> My Products</li>
              <% end %>
            <% end %>
            <% if admin_or_employee? %>
              <li data-toggle="collapse" data-target="#files" class="collapsed">
                <a data-target="#"><i class="fa fa-file fa-lg"></i> Files<span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="files">
                <%= link_to uploads_path do %>
                  <li>Master File List</li>
                <% end %>
                <%= link_to new_upload_batch_path, method: :get do %>
                  <li>Upload New Files</li>
                <% end %>
              </ul>
            <% end %>
            <% if admin_or_employee? %>
              <%= link_to inventory_adjustments_path, method: :get do %>
                <li><i class="fa fa-exchange fa-lg"></i> Inventory Adjustments</li>
              <% end %>
            <% else %>
              <%= link_to inventory_history_path, method: :get do %>
                <li><i class="fa fa-exchange fa-lg"></i> Inventory History</li>
              <% end %>
            <% end %>
            <% if current_user.admin? %>
              <%= link_to new_task_path do %>
                <li><i class="fa fa-tasks fa-lg"></i> Create New Task</li>
              <%= link_to tasks_path do %>
                <li><i class="fa fa-tasks fa-lg"></i> All Tasks</li>
              <% end %>
              <% end %>
            <% end %>
            <% if admin_or_employee? %>
              <%= link_to users_path do %>
                <li><i class="fa fa-users fa-lg"></i> User Index</li>
              <% end %>

            <% end %>
            <!--<li><a><i class="fa fa-sitemap fa-lg"></i> Site Map</a></li>-->
          </ul>
        </div>
      </nav>
      <div id="main-content">
        <%= yield %>
      </div>
    <% else %>
      <nav class="navbar navbar-default navbar-static-top navbar-bg" role="navigation" style="padding-bottom:10px;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "//www.strategicretailsolutions.com", class: "navbar-brand" do %>
            Strategic Retail Solutions
          <% end %>
        </div>
      </nav>
      <%= yield %>
    <% end %>
  </body>
</html>
